Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Setting up staging deployment workflow
  .github/workflows/deployment-production.yaml
  .github/workflows/deployment-staging.yaml
Due: none

Setting up staging deployment workflows
  .github/workflows/deployment-staging.yaml
Due: none

Staging workflow errors fixed
  .github/workflows/deployment-production.yaml
  .github/workflows/deployment-staging.yaml
Due: none

Staging workflow doc build
  .github/workflows/deployment-production.yaml
  .github/workflows/deployment-staging.yaml
Due: none

Checking the bucket
  .github/workflows/deployment-staging.yaml
Due: none

Checking the bucket Name
  .github/workflows/deployment-staging.yaml
Due: none

Uploading the build to S3
  .github/workflows/deployment-staging.yaml
Due: none

cloudfront caching done
  .github/workflows/deployment-production.yaml
Due: none

Added cloudfront access key
  .github/workflows/deployment-production.yaml
Due: none

Added cloudfront caching after deployment
  .github/workflows/deployment-production.yaml
Due: none

Doc Deployment setup done
  .github/workflows/docs-deployment.yaml
Due: none

Update worflows to update docs on PR merges to master containing the label documentation
  .github/workflows/docs-deployment.yaml
Due: none

Move html reference inside ThemeProvider component as it was causing issues during SSR
  packages/react-components/src/theme-provider/theme-provider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add documentation for usage within next js
  packages/docs/docs/frameworks-usage/_category_.json
  packages/docs/docs/frameworks-usage/nextjs.mdx
Due: Lint, Test and Build

Change warning to caution, add link to next js setup
  packages/docs/docs/getting-started.md
Due: Lint, Test and Build

Remove active and focus effects from disabled button
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Move next js usage to the bottom
  packages/docs/docs/getting-started.md
Due: Lint, Test and Build

Updated disabled state for slider
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update disabled state hover effects for input and textarea
  packages/react-components/src/input/input.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add disabled styles for radio and checkbox
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/radio/radio.tsx
Due: Security Scan for React Components, Lint, Test and Build

Create LICENSE
  LICENSE
Due: none

Update readme
  README.md
Due: none

Use conditional build commands based on changed files and add lint to step
  .github/workflows/node.js.yml
  package.json
Due: none

Run lint after build
  .github/workflows/node.js.yml
Due: none

Update readme to include logo and dev info
  README.md
Due: none

README.md edited online with Bitbucket
  README.md
Due: none
