Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Add test cases for dialogs manager
  packages/react-components/src/dialog/tests/dialogs-manager.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use standard labels prop to customize action button in modal
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
  packages/react-components/src/dialog/stories/dialogs-manager.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update dialog tests to include more cases
  packages/react-components/src/dialog/tests/dialogs-manager.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

eslint fixes
  packages/react-components/src/stepper/step.tsx
  packages/react-components/src/stepper/stepper.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

added size as optional prop || removed minHeight
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated the docs for stepper
  packages/docs/docs/components/stepper.mdx
  packages/react-components/src/stepper/separator.tsx
  packages/react-components/src/stepper/step.tsx
  packages/react-components/src/stepper/stepper.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed unnecessary console
  packages/react-components/src/input/stories/input.stories.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update name of dialogs manager test
  packages/react-components/src/dialog/tests/dialogs-manager.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Initialized slider component, its stories, test cases and docs
  packages/docs/docs/components/slider.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/package.json
  packages/react-components/src/index.ts
  packages/react-components/src/slider/index.tsx
  packages/react-components/src/slider/slider.tsx
  packages/react-components/src/slider/stories/slider.stories.tsx
  packages/react-components/src/slider/tests/index.test.tsx
  yarn.lock
Due: Security Scan for React Components, Lint, Test and Build

Fix ResizeObserver is not defined error in jest
  packages/react-components/jest.config.json
  packages/react-components/setupTests.ts
Due: none

handled scrollBehvior
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated docs with dialog size and scrollBehavior variants
  packages/docs/docs/components/dialog.mdx
Due: Lint, Test and Build

removed unused css
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

PR comments resolved
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

Import Slider component normally as lazy loading was causing issues with Child components
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

Updated slider docs - Moved props to the bottom, better phrasing for labels, made code live editor
  packages/docs/docs/components/slider.mdx
Due: Lint, Test and Build

Rename setupTests to setup-tests
  packages/react-components/jest.config.json
  packages/react-components/setup-tests.ts
Due: none

Added transition to slider hover, focus states. Updated track color, fixed issues with thumb
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Prettify code
  packages/docs/docs/components/slider.mdx
Due: Lint, Test and Build

Update custom Thumb to use css prop for styling instead of custom child
  packages/docs/docs/components/slider.mdx
Due: Lint, Test and Build

Swap type and default values
  packages/docs/docs/components/slider.mdx
Due: Lint, Test and Build

Adjust track height based on size variant
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated version
  packages/react-components/package.json
Due: none

chore:changelog
  packages/react-components/CHANGELOG.md
Due: none

extended DialogRootProps with dialogPrimitive.Root's default props
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

pr fix
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated the version to 0.17.4
  packages/react-components/package.json
Due: none

added dropdown root props
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

changed extend to type
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

bumped up version
  packages/react-components/package.json
Due: none

preetier config added
  packages/react-components/package.json
  packages/react-icons/package.json
Due: none

"git add" removed as it automatically adds the file to staging
  packages/react-components/package.json
  packages/react-icons/package.json
Due: none

conflict between eslint and prettier resolved
  packages/react-components/.prettierrc.js
  packages/react-icons/.prettierrc.js
Due: none

eslint prettier confilct solved
  packages/react-components/.prettierrc.js
Due: none

Rename onAction to onPrimaryAction, add closeOnPrimaryAction and size prop to modal
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated documentation to include modal live example and dialogs manager import
  packages/docs/docs/components/dialogs-manager.mdx
Due: Lint, Test and Build

Export type def
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename ModalStore to DialogStore
  packages/react-components/src/dialog/dialogs-manager/store.ts
Due: Security Scan for React Components, Lint, Test and Build

Remove log
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated logo and favicon
  packages/docs/docusaurus.config.js
  packages/docs/static/img/logo-with-text.svg
Due: Lint, Test and Build
