Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Add isMilitaryTime prop to CalendarTimePicker and related components.
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/calendar/stories/calendar-time-picker.stories.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor CalendarTimePicker to use hourCycle prop instead of isMilitaryTime for time format selection.
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/calendar/stories/calendar-time-picker.stories.tsx
  packages/react-components/src/datepicker/datepicker.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

added recalculation of time value when timestate changes
  packages/react-components/src/calendar/calendar-time-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

handled eslint no shadow error by renaming the variable
  packages/react-components/src/calendar/calendar-time-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

bumb version
  packages/react-components/package.json
Due: none

added new and missing prop in calendar
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build

added new props in calendar
  packages/fuma-docs/content/docs/components/calendar.mdx
  packages/fuma-docs/content/docs/components/datepicker.mdx
Due: none

added LLMs.txt to make docs AI capable and some external links
  packages/fuma-docs/next.config.mjs
  packages/fuma-docs/package.json
  packages/fuma-docs/source.config.ts
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/llms-full.txt/route.ts
  packages/fuma-docs/src/app/llms.mdx/docs/[[...slug]]/route.ts
  packages/fuma-docs/src/assets/images/claude.svg
  packages/fuma-docs/src/assets/images/cursor.svg
  packages/fuma-docs/src/assets/images/github-logo.svg
  packages/fuma-docs/src/assets/images/github.svg
  packages/fuma-docs/src/assets/images/openai.svg
  packages/fuma-docs/src/assets/images/storybook-logo.svg
  packages/fuma-docs/src/assets/images/storybook.svg
  packages/fuma-docs/src/component/external-link/constants.ts
  packages/fuma-docs/src/component/external-link/index.tsx
  packages/fuma-docs/src/component/external-link/use-external-links.ts
  packages/fuma-docs/src/component/external-link/utils.ts
  packages/fuma-docs/src/lib/get-llm-text.ts
  packages/fuma-docs/src/lib/source.ts
  packages/fuma-docs/tsconfig.json
  yarn.lock
Due: none

added links in some other pages and altered some hover styles for components
  packages/fuma-docs/content/docs/editor/base-dropdown.mdx
  packages/fuma-docs/content/docs/editor/emoji.mdx
  packages/fuma-docs/content/docs/editor/hashtags.mdx
  packages/fuma-docs/content/docs/editor/index.mdx
  packages/fuma-docs/content/docs/editor/link.mdx
  packages/fuma-docs/content/docs/editor/mentions.mdx
  packages/fuma-docs/content/docs/editor/slash-command-feature.mdx
  packages/fuma-docs/content/docs/editor/toolbar.mdx
  packages/fuma-docs/content/docs/getting-started/index.mdx
  packages/fuma-docs/content/docs/getting-started/nextjs.mdx
  packages/fuma-docs/content/docs/getting-started/theming.mdx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/component/external-link/constants.ts
  packages/fuma-docs/src/component/external-link/index.tsx
  packages/fuma-docs/src/component/external-link/use-external-links.ts
Due: none

chore: ignore .DS_Store and remove from tracking
  .DS_Store
  .gitignore
  packages/.DS_Store
Due: none

added structure data for search api
  packages/fuma-docs/source.config.ts
Due: none

Add script for building fuma docs
  package.json
Due: none

added env in workflow and alter name of the package
  .github/workflows/test-lint-build.yml
  package.json
  packages/fuma-docs/package.json
Due: none

debug env
  .github/workflows/test-lint-build.yml
Due: none

reverted env debug
  .github/workflows/test-lint-build.yml
Due: none

added close button in toast
  packages/react-components/package.json
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/toast.tsx
  packages/react-components/src/toast/toastr.tsx
Due: Security Scan for React Components, Lint, Test and Build

altered the playground button and reverted the usage of multiple toastr
  packages/fuma-docs/snippets/toast-basic/ToastBasic.tsx
  packages/fuma-docs/snippets/toast-variants/ToastVariants.tsx
  packages/fuma-docs/snippets/toast-variants/ToastWithActions.tsx
  packages/fuma-docs/src/component/playground/playground.tsx
Due: none

altered the padding and pixel perfection
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed perfect colours for toast variants
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed the delay duration and added sideoffset for the tooltip in toast close button
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

altered the design of CTA button to navigate to playground
  packages/fuma-docs/src/component/playground/playground.tsx
Due: none

removed the unused imports
  packages/fuma-docs/snippets/toast-basic/ToastBasic.tsx
  packages/fuma-docs/snippets/toast-variants/ToastVariants.tsx
  packages/fuma-docs/snippets/toast-variants/ToastWithActions.tsx
Due: none

added the new toast prop to docs
  packages/fuma-docs/content/docs/components/toast.mdx
Due: none

removed usage of Toastr in chip component
  packages/fuma-docs/snippets/chip-basic/ChipBasic.tsx
Due: none

fixed the missing showCloseButton prop in toast promise
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed the unwanted gap in the StyledAction
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

linting issue trailing comma
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

added examples for showClosebutton prop in docs
  packages/fuma-docs/snippets/toast-variants/ToastVariants.tsx
Due: none

Added a default overlaytext and introduced a prop for formatter function
  packages/fuma-docs/content/docs/components/avatar.mdx
  packages/fuma-docs/snippets/avatar-group/AvatarGroupBasic.tsx
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/avatar/avatar.tsx
Due: Security Scan for React Components, Lint, Test and Build

altered Icon Button XS variant and border styles of select component dropdown
  packages/react-components/src/button/button.tsx
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed the formatter runs only when extraAvatar is available and solved linting error
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed linting issues
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated description of the prop and added a callout for a message
  packages/fuma-docs/content/docs/components/avatar.mdx
Due: none

Bump version to 0.37.6 in package.json
  packages/react-components/package.json
Due: none

updated the sizes of overlay text and added fallback avatar examples
  packages/fuma-docs/snippets/avatar-basic/AvatarBasic.tsx
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
