Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

pixel perfection dialogs manager + css option support
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

resolved comment
  packages/docs/docs/components/stack.mdx
Due: Lint, Test and Build

Update dropdown menu trigger style
  packages/docs/docs/components/dropdown.mdx
Due: Lint, Test and Build

removed function App from mdx
  packages/docs/docs/components/icon-button.mdx
Due: Lint, Test and Build

change split-btn implementation
  packages/react-components/src/button/split-button-context.ts
  packages/react-components/src/button/split-button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

final
  packages/react-components/src/button/split-button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

handle case for primary
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix imports
  packages/react-components/src/button/split-button.tsx
Due: Security Scan for React Components, Lint, Test and Build

button uat changes
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/index.tsx
  packages/react-components/src/button/split-button-context.tsx
  packages/react-components/src/button/split-button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use React.Children methods to loop over children, create id for key automatically
  packages/react-components/src/stepper/stepper.tsx
Due: Security Scan for React Components, Lint, Test and Build

addressed comment
  packages/react-components/src/stack/stack.tsx
Due: Security Scan for React Components, Lint, Test and Build

Revert "addressed comment"
  packages/react-components/src/stack/stack.tsx
Due: Security Scan for React Components, Lint, Test and Build

uat comments
  packages/react-components/src/button/split-button.tsx
Due: Security Scan for React Components, Lint, Test and Build

addressed comments
  packages/docs/docs/components/dropdown.mdx
  packages/docs/docs/components/icon-button.mdx
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

uat-comments
  packages/react-components/src/button/split-button.tsx
Due: Security Scan for React Components, Lint, Test and Build

addressed comments
  packages/docs/docs/components/stack.mdx
  packages/react-components/src/stack/stack.tsx
Due: Security Scan for React Components, Lint, Test and Build

feat: Add loading prop to SplitButton component
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

table component ui improvement
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add missing return statement for custom renderButton in format tool
  packages/react-components/src/editor/components/toolbar/tools/format.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

update alignment in table
  packages/docs/docs/components/stack.mdx
Due: Lint, Test and Build

Update icon-button and toast component documentation
  packages/docs/docs/components/icon-button.mdx
  packages/docs/docs/components/toast.mdx
Due: Lint, Test and Build

added lineHeigh to the thead and made textAlign as left
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

added docs for table component
  packages/docs/docs/components/table.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

style: Adjust padding values for different button sizes
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

refactor: Adjust padding values for different button sizes
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

prettified
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

replaced px values with theme values
  packages/react-components/src/separator/stories/separator.stories.tsx
  packages/react-components/src/stack/get-separator-style.ts
Due: Security Scan for React Components, Lint, Test and Build

replaced px values with theme values
  packages/react-components/src/separator/stories/separator.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix dropdown issue and adressed comments
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Export react select components
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix variable name typo
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

docs sidebar improvement
  packages/docs/docs/components/_category_.json
  packages/docs/docs/components/editor/_category_.json
  packages/docs/docs/components/editor/features/hashtags.mdx
  packages/docs/docs/components/editor/features/index.mdx
  packages/docs/docs/components/editor/features/link.mdx
  packages/docs/docs/components/editor/features/mentions.mdx
  packages/docs/docs/components/editor/helpers/_category_.json
  packages/docs/docs/components/editor/helpers/base-dropdown.mdx
  packages/docs/docs/components/editor/setup.mdx
  packages/docs/docs/components/editor/toolbar.mdx
  packages/docs/docs/components/editor/tutorials/_category_.json
  packages/docs/docs/components/editor/tutorials/slash-command-feature.mdx
  packages/docs/docs/examples/_category_.json
  packages/docs/docs/frameworks-usage/_category_.json
  packages/docs/docs/getting-started.md
  packages/docs/docs/icons.mdx
  packages/docs/src/css/custom.css
Due: Lint, Test and Build

fixed line-height issue
  packages/react-components/src/text/text.tsx
Due: Security Scan for React Components, Lint, Test and Build

added letter spacing for heading
  packages/react-components/src/heading/heading.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed duplicate heading in live editor
  packages/docs/docs/components/heading.mdx
Due: Lint, Test and Build

changed px to em
  packages/react-components/src/heading/heading.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add month, year, time and timezone picker to calendar, update calendar and range calendar UI
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-commons.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/datepicker/datepicker.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added countries-and-timezones package for better search in timezone picker
  packages/react-components/package.json
  yarn.lock
Due: none
