Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

textArea component added
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/index.ts
  packages/react-components/src/input/input.tsx
  packages/react-components/src/text-area/index.tsx
  packages/react-components/src/text-area/text-area.tsx
Due: Security Scan for React Components, Lint, Test and Build

textArea storybook added
  packages/react-components/src/text-area/stories/text-area.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

textArea docs and test added
  packages/docs/docs/components/text-area.mdx
  packages/react-components/src/text-area/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

textArea docs and test added
  packages/react-components/src/text-area/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use standard naming convention for child components instead of dot notations
  packages/docs/docs/components/slider.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/slider/stories/slider.stories.tsx
  packages/react-components/src/slider/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove dependency from render thumb useCallback as it was causing issues when input is controlled. Export slider child components
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

as props can accept link component as prop
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix typo
  packages/docs/docs/getting-started.md
Due: Lint, Test and Build

PR comments resolved
  packages/react-components/.prettierrc.js
  packages/react-icons/.prettierrc.js
Due: none

name changed to Textarea | added char count, label and error
  packages/docs/docs/components/text-area.mdx
  packages/docs/docs/components/textarea.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/index.ts
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/text-area/index.tsx
  packages/react-components/src/text-area/stories/text-area.stories.tsx
  packages/react-components/src/text-area/text-area.tsx
  packages/react-components/src/textarea/index.tsx
  packages/react-components/src/textarea/stories/textarea.stories.tsx
  packages/react-components/src/textarea/tests/index.test.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

minor fix
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add close icons to dialogs
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

button link wip
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed
  packages/react-components/src/heading/heading.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add close button customization to default dialogs
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

added rows in storybook || added more testcases
  packages/react-components/src/textarea/stories/textarea.stories.tsx
  packages/react-components/src/textarea/tests/index.test.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

added new prop called limitExceededLabel to support custom count
  packages/docs/docs/components/avatar.mdx
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/avatar/stories/avatar-group.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove closeOnAction prop, update typings for action button handlers
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

pr comment resolved
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

PR comments resolved
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/avatar/stories/avatar-group.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add build and test to root package json
  package.json
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Create npm-publish.yml for react-components
  .github/workflows/npm-publish.yml
Due: none

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

Updated workflows for npm publish and testing, bump version
  .github/workflows/node.js.yml
  .github/workflows/npm-publish-react-components.yml
  .github/workflows/npm-publish-react-icons.yml
  packages/react-components/package.json
Due: none

Fix url capitalization
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

added px values in docs for lineHeights,radii
  packages/docs/docs/theming.mdx
  packages/docs/src/components/theming/font-sizes.tsx
  packages/docs/src/components/theming/line-heights.tsx
  packages/docs/src/components/theming/radii.tsx
  packages/docs/src/components/theming/spaces.tsx
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: Lint, Test and Build

change of approach
  packages/docs/src/components/theming/font-sizes.tsx
  packages/docs/src/components/theming/line-heights.tsx
  packages/docs/src/components/theming/radii.tsx
  packages/docs/src/components/theming/spaces.tsx
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: Lint, Test and Build

fixed issue
  packages/react-components/src/input/form-input.tsx
Due: Security Scan for React Components, Lint, Test and Build

SSE-26542-toast-safari-fix
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

Changed description for npm publish workflows
  .github/workflows/npm-publish-react-components.yml
  .github/workflows/npm-publish-react-icons.yml
Due: none

Run tests on pull requests to releases branch
  .github/workflows/node.js.yml
Due: none

Bump version
  packages/react-components/package.json
Due: none

Update actions to use a single step to preserve build outputs
  .github/workflows/npm-publish-react-components.yml
  .github/workflows/npm-publish-react-icons.yml
Due: none

Change name for test
  packages/react-components/package.json
Due: none

Change name for test
  package.json
Due: none

Revert name changes for testing
  package.json
  packages/react-components/package.json
Due: none

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
