Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

Initial setup:
  script:
  - yarn
  caches:
  - node
  - node_modules

Run eslint:
  script:
  - npx lerna run eslint --scope=@sparrowengg/twigs-react

Build Icons:
  artifacts:
  - packages/react-icons/dist/**
  script:
  - yarn build:icons

Test:
  script:
  - yarn
  - npx lerna run test

Build Components:
  script:
  - yarn
  - yarn build:components

Build docs:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run build --scope=@sparrowengg/twigs-docs --verbose

Cache nodemodules within packages
  bitbucket-pipelines.yml
Due: none

Restructure editor directory and add new plugins
  packages/react-components/src/editor/editor.tsx
  packages/react-components/src/editor/features/index.tsx
  packages/react-components/src/editor/index.tsx
  packages/react-components/src/editor/nodes/index.ts
  packages/react-components/src/editor/nodes/variables.tsx
  packages/react-components/src/editor/plugins/floating-link-editor/index.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/index.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/tools.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/utils.ts
  packages/react-components/src/editor/plugins/index.tsx
  packages/react-components/src/editor/plugins/link/auto-link.tsx
  packages/react-components/src/editor/plugins/link/index.tsx
  packages/react-components/src/editor/plugins/link/link.tsx
  packages/react-components/src/editor/plugins/toolbar/buttons.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/utils.ts
  packages/react-components/src/editor/plugins/variables/index.tsx
  packages/react-components/src/editor/utils/getDOMRangeRect.ts
  packages/react-components/src/editor/utils/getSelectedNode.ts
  packages/react-components/src/editor/utils/setFloatingElemPosition.ts
  packages/react-components/src/editor/utils/setFloatingElemPositionForLinkEditor.ts
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

changed size props to context level
  packages/docs/docs/components/dropdown.mdx
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

after test commit
  packages/react-components/src/dropdown/dropdown.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Change floating toolbar icons
  packages/react-components/src/editor/plugins/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/tools.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Improve editor customizability, updated toolbar tools, add package to export / import html
  packages/react-components/package.json
  packages/react-components/src/editor/editor.tsx
  packages/react-components/src/editor/features/index.tsx
  packages/react-components/src/editor/plugins/export-plugin/index.tsx
  packages/react-components/src/editor/plugins/floating-link-editor/index.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/tools.tsx
  packages/react-components/src/editor/plugins/toolbar/utils.ts
  yarn.lock
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added errorborder prop
  packages/docs/docs/components/form-input.mdx
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/input/stories/form-input.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

chnaged from context to stiches api
  packages/docs/docs/components/dropdown.mdx
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

added any icon support
  packages/react-components/src/button/side-element.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

done
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/side-element.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Update pipeline for master branch
  bitbucket-pipelines.yml
Due: none

errorBorder added to input
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/input/input.tsx
  packages/react-components/src/input/stories/input.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added prop to input doc
  packages/docs/docs/components/input.mdx
Due: Initial setup, Build Icons, Build Components, Build docs

changed props size to dropdownMenu
  packages/docs/docs/components/dropdown.mdx
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

updated twigs version
  packages/react-components/package.json
Due: none

removed mandatory check
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

changed context type
  packages/react-components/src/dropdown/dropdown.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

organized stepper
  packages/react-components/src/stepper/step.tsx
  packages/react-components/src/stepper/stepper.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added variants for dialog || set default variant as 'md'
  packages/react-components/src/dialog/dialog.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added stories for variants of dialog
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added test for dialog
  packages/react-components/src/dialog/tests/index.test.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Initialised dialogs api
  packages/react-components/src/dialog/dialogs/default-alert.tsx
  packages/react-components/src/dialog/dialogs/default-confirm.tsx
  packages/react-components/src/dialog/dialogs/default-info.tsx
  packages/react-components/src/dialog/dialogs/index.tsx
  packages/react-components/src/dialog/dialogs/store.ts
  packages/react-components/src/dialog/index.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Turn off underscore dangle disallow in eslint
  packages/react-components/.eslintrc.json
Due: none

Fix typings for alert dialog
  packages/react-components/src/alert-dialog/alert-dialog.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Add rollup config for dev mode and enable file watching
  packages/react-components/package.json
  packages/react-components/rollup.config.dev.js
Due: none

added maxHeight and maxWidth
  packages/react-components/src/dialog/dialog.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Rename modal variables to dialog
  packages/react-components/src/dialog/dialogs/store.ts
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Add documentation for dialogs api
  packages/docs/docs/components/dialogs.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Initial setup, Build Icons, Build Components, Build docs

Change type definition for children in dialog
  packages/react-components/src/dialog/dialog.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Require components from build directory instead of source to fix import is not defined error
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: Initial setup, Build Icons, Build Components, Build docs

Update default dialogs of dialogs api
  packages/react-components/src/dialog/dialogs/default-alert.tsx
  packages/react-components/src/dialog/dialogs/default-confirm.tsx
  packages/react-components/src/dialog/dialogs/default-info.tsx
  packages/react-components/src/dialog/dialogs/default-modal.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Update pushDialog and openDialog methods to return an object containing close and dialogId, rename properties
  packages/react-components/src/dialog/dialogs/index.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Add storybook story for dialogs api
  packages/react-components/src/dialog/stories/dialogs.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Update documentation to include interface overriding
  packages/docs/docs/components/dialogs.mdx
Due: Initial setup, Build Icons, Build Components, Build docs

Added full width as an variant || used context for size prop
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
  packages/react-components/src/dialog/tests/index.test.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added size type as common
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

added size type as common
  packages/react-components/src/dialog/dialog.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Update store to add method to get last subscriber, return sub id and unsubscribe function from subscribe method
  packages/react-components/src/dialog/dialogs/store.ts
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Update Dialogs to show modal only if it is the current active instance. Remove unnecessary import
  packages/react-components/src/dialog/dialogs/default-modal.tsx
  packages/react-components/src/dialog/dialogs/index.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components

Rename Dialogs to DialogsManager, update directory names, rename dialogs.dialogOpen and other properties to exclude dialog context
  packages/docs/docs/components/dialogs-manager.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
  packages/react-components/src/dialog/dialogs-manager/index.tsx
  packages/react-components/src/dialog/dialogs-manager/store.ts
  packages/react-components/src/dialog/index.tsx
  packages/react-components/src/dialog/stories/dialogs-manager.stories.tsx
Due: Initial setup, Run eslint, Build Icons, Test, Build Components, Build docs

Path conditions:
  Initial setup: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
  Run eslint: (any of: packages/react-icons/src/**) or (any of: packages/react-components/src/**)
  Build Icons: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
  Test: any of: packages/react-components/src/**
  Build Components: any of: packages/react-components/src/**, packages/docs/**
  Build docs: any of: packages/docs/**
