Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

added all contributors bot config
  .all-contributorsrc
  README.md
Due: none

typo
  .all-contributorsrc
Due: none

Remove background color and update Storybook args
  packages/react-components/src/accordion/accordion.tsx
  packages/react-components/src/accordion/stories/accordion.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update storybook accordion to disable args
  packages/react-components/src/accordion/stories/accordion.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Revert changes to storybook and update accordion docs
  packages/docs/docs/components/accordion.mdx
  packages/react-components/src/accordion/stories/accordion.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Add variant prop filled
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

update close button style
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove comma
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

set default variant
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

update variant filled color
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add 'position' prop to Toast for customizable placement
  packages/react-components/src/toast/toast.tsx
  packages/react-components/src/toast/toastr.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove comma
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

react-icons fix
  packages/react-icons/src/icons/alert.tsx
  packages/react-icons/src/icons/chevron-up-fill.tsx
  packages/react-icons/src/icons/clock.tsx
  packages/react-icons/src/icons/code-block.tsx
  packages/react-icons/src/icons/code.tsx
  packages/react-icons/src/icons/copy.tsx
  packages/react-icons/src/icons/download.tsx
  packages/react-icons/src/icons/ellipsis-horizontal.tsx
  packages/react-icons/src/icons/eye-close.tsx
  packages/react-icons/src/icons/eye-open.tsx
  packages/react-icons/src/icons/fingerprint-scanner.tsx
  packages/react-icons/src/icons/grip-dots-vertical.tsx
  packages/react-icons/src/icons/history.tsx
  packages/react-icons/src/icons/info.tsx
  packages/react-icons/src/icons/minus.tsx
  packages/react-icons/src/icons/ordered-list.tsx
  packages/react-icons/src/icons/plus.tsx
  packages/react-icons/src/icons/text-input.tsx
  packages/react-icons/src/icons/tick.tsx
  packages/react-icons/src/icons/underline.tsx
  packages/react-icons/src/icons/user.tsx
  packages/react-icons/src/icons/warning.tsx
  packages/react-icons/src/types.ts
Due: Security Scan for React Icons, Lint, Test and Build

Fix issues with time selection in calendar
  packages/react-components/src/calendar/calendar-time-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update size names in chip - remove 3xs and introduce xl
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Move font family to specific elements instead of using wildcard
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

Add classname to toolbar format options
  packages/react-components/src/editor/components/toolbar/tools/format.tsx
Due: Security Scan for React Components, Lint, Test and Build

line height fix
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

added overlayClassName prop
  packages/docs/docs/components/dialog.mdx
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

dropdown design update
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

added design changes
  packages/react-components/src/stitches.config.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/toast.tsx
  packages/react-icons/src/icons/index.ts
Due: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-icons/package.json
Due: none

Added redo icon
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/redo.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Rearrage width and height props
  packages/react-icons/src/icons/redo.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Remove extra ampersand symbol from command, include access public for provenance
  .github/workflows/npm-publish-react-icons.yml
Due: none

added classname for chip content, inherit chip content background from parent
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

PR comments resolved
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

done
  packages/docs/docs/components/dialog.mdx
Due: Lint, Test and Build

remove extra line
  packages/docs/docs/components/dialog.mdx
Due: Lint, Test and Build

reverted overlayClassName changes
  packages/docs/docs/components/dialog.mdx
  packages/react-components/src/dialog/dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

refactor
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

added new icon
  packages/react-components/src/toast/toast.tsx
  packages/react-icons/src/icons/info-fill.tsx
Due: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

changed from bold to medium
  packages/react-components/src/datepicker/date-time-segment.tsx
Due: Security Scan for React Components, Lint, Test and Build

Replace counterSideElement with renderCounter prop for textarea and input. Updated stories and docs reflecting the updates
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/textarea.mdx
  packages/react-components/src/form-label/form-label-counter.tsx
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/input/stories/form-input.stories.tsx
  packages/react-components/src/textarea/stories/textarea.stories.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build
