Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

removed the decimal part conversion in font sizes and adjusted the border width of variants
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

edited the fontsizes with respect to avatar fallback font sizes
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed the leftIcon color in chip's secondary variant
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version to 0.37.7 in package.json
  packages/react-components/package.json
Due: none

Bump version to 0.38.0 in package.json
  packages/react-components/package.json
Due: none

updated the flow towards enterprise version
  packages/fuma-docs/src/component/upgrade-guide/upgrade-guide.tsx
  packages/fuma-docs/src/lib/utils.ts
Due: none

updated the guard for enterprise migrations
  packages/fuma-docs/src/lib/utils.ts
Due: none

solved linting issues and updated icons usage in docs
  packages/fuma-docs/src/app/(home)/examples/intellisense.tsx
  packages/fuma-docs/src/app/(home)/examples/playground.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/docs/layout.tsx
  packages/react-icons/src/icons/ai-cognivue.tsx
  packages/react-icons/src/icons/compare.tsx
  packages/react-icons/src/icons/dice.tsx
  packages/react-icons/src/icons/grip-dots-horizontal.tsx
  packages/react-icons/src/icons/office.tsx
  packages/react-icons/src/icons/question-set.tsx
  packages/react-icons/src/icons/ticket-add.tsx
  packages/react-icons/src/icons/user.tsx
Due: Security Scan for React Icons, Lint, Test and Build

retained view box to 35 for aicognivue icon
  packages/react-icons/src/icons/ai-cognivue.tsx
Due: Security Scan for React Icons, Lint, Test and Build

updated rest-spread placement in copy icon
  packages/react-icons/src/icons/copy.tsx
Due: Security Scan for React Icons, Lint, Test and Build

fixed the new icon name import in docs
  packages/fuma-docs/snippets/icons-basic/IconsBasic.tsx
Due: none

updated icons example mdx file according to icon rename
  packages/fuma-docs/content/docs/icons/index.mdx
Due: none

updated conditions for link handling
  packages/react-editor/src/components/dialog-link-editor/index.tsx
Due: none

revamped design of ChevronDoubleUpIcon
  packages/react-icons/src/icons/chevron-double-up.tsx
Due: Security Scan for React Icons, Lint, Test and Build

version pump
  packages/react-icons/package.json
Due: none

Support nested drawers
  packages/fuma-docs/content/docs/components/drawer.mdx
  packages/react-components/src/drawer/drawer.tsx
  packages/react-components/src/drawer/stories/drawer.stories.tsx
  packages/react-components/src/drawer/tests/index.test.tsx
  packages/react-components/src/drawer/use-drawer-stack.ts
Due: Security Scan for React Components, Lint, Test and Build

Trim drawer comments to the non-obvious
  packages/react-components/src/drawer/drawer.tsx
  packages/react-components/src/drawer/use-drawer-stack.ts
Due: Security Scan for React Components, Lint, Test and Build

Drop border radius from the nested drawer story
  packages/react-components/src/drawer/stories/drawer.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Round the stacked drawers in the nested story
  packages/react-components/src/drawer/stories/drawer.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Document how to target drawers behind the frontmost
  packages/fuma-docs/content/docs/components/drawer.mdx
Due: none

Fix backdrop dismissal and focus in a nested stack
  packages/react-components/src/drawer/drawer.tsx
  packages/react-components/src/drawer/stories/drawer.stories.tsx
  packages/react-components/src/drawer/use-drawer-stack.ts
Due: Security Scan for React Components, Lint, Test and Build

Cover the measure path in an environment without getAnimations
  packages/react-components/src/drawer/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version to 0.38.1 in package.json
  packages/react-components/package.json
Due: none

Fix syntax error in getAnimations usage
  packages/react-components/src/drawer/use-drawer-stack.ts
Due: Security Scan for React Components, Lint, Test and Build

updated padding issue in dropdown
  packages/fuma-docs/content/docs/components/dropdown.mdx
  packages/fuma-docs/snippets/dropdown-advanced/DropdownAdvanced.tsx
  packages/react-components/package.json
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
  packages/react-components/src/dropdown/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated dropdownfix
  packages/fuma-docs/content/docs/components/dropdown.mdx
  packages/fuma-docs/package.json
  packages/fuma-docs/snippets/dropdown-advanced/DropdownAdvanced.tsx
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
  packages/react-components/src/dropdown/tests/index.test.tsx
  yarn.lock
Due: Security Scan for React Components, Lint, Test and Build

udpated placement of indicator to absolute right
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build
