Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run eslint, Build Icons, Test, Build Components

Path conditions:
  Run eslint: (any of: packages/react-icons/**) or (any of: packages/react-components/**)
  Build Icons: any of: packages/react-icons/**
  Test: any of: packages/react-components/**
  Build Components: any of: packages/react-components/**

changed master pipeline
  bitbucket-pipelines.yml
Due: none

corrected icon react errors
  packages/react-icons/package.json
  packages/react-icons/src/icons/text-input.tsx
Due: Run eslint, Build Icons

corrected stepper export and active style
  packages/react-components/package.json
  packages/react-components/src/index.ts
  packages/react-components/src/stepper/stepper-trigger.tsx
Due: Run eslint, Test, Build Components

corrected svg props
  packages/react-icons/package.json
  packages/react-icons/src/icons/copy.tsx
  packages/react-icons/src/icons/text-input.tsx
  packages/react-icons/src/icons/user.tsx
Due: Run eslint, Build Icons

added support for input addon elements
  packages/react-components/package.json
  packages/react-components/src/input/input.tsx
  packages/react-components/src/input/stories/input.stories.tsx
Due: Run eslint, Test, Build Components

made input addon elements optional
  packages/react-components/package.json
  packages/react-components/src/input/input.tsx
Due: Run eslint, Test, Build Components

bitbucket-pipelines.yml edited online with Bitbucket
  bitbucket-pipelines.yml
Due: none

stepper trigger click navigation
  packages/react-components/package.json
  packages/react-components/src/stepper/stepper-trigger.tsx
  packages/react-components/src/stepper/stepper.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
Due: Run eslint, Test, Build Components

fixed infoplus icon
  packages/react-icons/src/icons/info-plus.tsx
Due: Run eslint, Build Icons

package version updated
  packages/react-icons/package.json
Due: Run eslint, Build Icons

code fomatted
  packages/react-icons/src/icons/info-plus.tsx
Due: Run eslint, Build Icons

fixed props
  packages/react-icons/src/icons/info-plus.tsx
Due: Run eslint, Build Icons

added SmileySadIcon
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/smiley-sad.tsx
Due: Run eslint, Build Icons

renamed icon and corrected spacing
  packages/react-icons/src/icons/face-frown.tsx
  packages/react-icons/src/icons/index.ts
Due: Run eslint, Build Icons

added grip-dots-vertical icon
  packages/react-icons/src/icons/grip-dots-vertical.tsx
  packages/react-icons/src/icons/index.ts
Due: Run eslint, Build Icons

chnaged reset icon
  packages/react-icons/package.json
  packages/react-icons/src/icons/reset.tsx
  yarn.lock
Due: Run eslint, Build Icons

Revert "chnaged reset icon"
  packages/react-icons/package.json
  packages/react-icons/src/icons/reset.tsx
  yarn.lock
Due: Run eslint, Build Icons

changed rest icon
  packages/react-icons/src/icons/reset.tsx
Due: Run eslint, Build Icons

updated the twigs icon version
  packages/react-icons/package.json
Due: Run eslint, Build Icons

checkbox width bug fixed
  packages/react-components/src/checkbox/checkbox.tsx
Due: Run eslint, Test, Build Components

updated version
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

corrected button radius for lg and xl
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

added zindex for dialog
  packages/react-components/src/dialog/dialog.tsx
Due: Run eslint, Test, Build Components

updated lerna
  lerna.json
  package.json
Due: none

updated components version
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

added support for htmlFor in checkbox
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/checkbox/stories/checkbox.stories.tsx
Due: Run eslint, Test, Build Components

remove pipeline test temporarily - workspace issue
  bitbucket-pipelines.yml
Due: none

updated version
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

code cleanup
  packages/react-components/src/calendar/calendar-button.tsx
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/calendar/day.tsx
  packages/react-components/src/calendar/stories/calendar-range.stories.tsx
  packages/react-components/src/datepicker/datepicker.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
  packages/react-components/src/popover/popover.tsx
  yarn.lock
Due: Run eslint, Test, Build Components

adjusted file names
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-week.tsx
Due: Run eslint, Test, Build Components

add all exports
  packages/react-components/package.json
  packages/react-components/src/calendar/index.tsx
  packages/react-components/src/datepicker/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/timepicker/index.tsx
Due: Run eslint, Test, Build Components

added basic tests
  packages/react-components/src/calendar/tests/__snapshots__/index.test.tsx.snap
  packages/react-components/src/calendar/tests/index.test.tsx
  packages/react-components/src/datepicker/tests/index.test.tsx
  packages/react-components/src/timepicker/tests/index.test.tsx
Due: Run eslint, Test, Build Components

correct group overlay isssues
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-components/src/avatar/avatar-group.tsx
  packages/react-components/src/avatar/stories/avatar-group.stories.tsx
Due: Run eslint, Test, Build Components

basic ssr support added
  packages/react-components/package.json
  packages/react-components/src/drawer/stories/drawer.stories.tsx
  packages/react-components/src/hooks/use-mount-transition.ts
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/pagination/pagination.tsx
  packages/react-components/src/theme-provider/theme-provider.tsx
  packages/react-components/stitches.config.ts
  yarn.lock
Due: Run eslint, Test, Build Components

added module type
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

fixed version and type
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

adjusted alert dialog zIndex
  packages/react-components/src/alert-dialog/alert-dialog.tsx
Due: Run eslint, Test, Build Components

decreased tooltip background opacity
  packages/react-components/src/tooltip/tooltip.tsx
Due: Run eslint, Test, Build Components

grouped stories
  packages/react-components/src/accordion/stories/accordion.stories.tsx
  packages/react-components/src/alert-dialog/stories/alert-dialog.stories.tsx
  packages/react-components/src/alert/stories/alert.stories.tsx
  packages/react-components/src/avatar/stories/avatar-badge.stories.tsx
  packages/react-components/src/avatar/stories/avatar-group.stories.tsx
  packages/react-components/src/avatar/stories/avatar.stories.tsx
  packages/react-components/src/box/stories/box.stories.tsx
  packages/react-components/src/button/stories/button.stories.tsx
  packages/react-components/src/button/stories/icon-button.stories.tsx
  packages/react-components/src/calendar/stories/calendar-range.stories.tsx
  packages/react-components/src/calendar/stories/calendar.stories.tsx
  packages/react-components/src/checkbox/stories/checkbox.stories.tsx
  packages/react-components/src/chip/stories/chip.stories.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
  packages/react-components/src/drawer/stories/drawer.stories.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
  packages/react-components/src/flex/stories/flex.stories.tsx
  packages/react-components/src/form-helper-text/stories/form-helper-text.stories.tsx
  packages/react-components/src/form-label/stories/form-label.stories.tsx
  packages/react-components/src/grid/stories/grid.stories.tsx
  packages/react-components/src/heading/stories/heading.stories.tsx
  packages/react-components/src/hover-card/stories/hover-card.stories.tsx
  packages/react-components/src/input/stories/form-input.stories.tsx
  packages/react-components/src/input/stories/input.stories.tsx
  packages/react-components/src/link/stories/link.stories.tsx
  packages/react-components/src/pagination/stories/pagination.stories.tsx
  packages/react-components/src/popover/stories/popover.stories.tsx
  packages/react-components/src/radio/stories/radio.stories.tsx
  packages/react-components/src/select/stories/select.stories.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
  packages/react-components/src/switch/stories/switch.stories.tsx
  packages/react-components/src/table/stories/table.stories.tsx
  packages/react-components/src/tabs/stories/tabs.stories.tsx
  packages/react-components/src/text/stories/text.stories.tsx
  packages/react-components/src/timepicker/stories/timepicker.stories.tsx
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/tooltip/stories/tooltip.stories.tsx
Due: Run eslint, Test, Build Components

cleanup
  packages/react-components/package.json
  packages/react-components/src/alert-dialog/alert-dialog.tsx
Due: Run eslint, Test, Build Components
