Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Update docs-deployment.yaml
  .github/workflows/docs-deployment.yaml
Due: none

Remove AWS Access Keys from Docs Deployment Workflow (#273)
  .github/workflows/docs-deployment.yaml
Due: none

Add expand icon prop
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix lint issues
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add icon animation control
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix misc changes
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add alert title
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update prop names
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove INDENT_CONTENT_COMMAND registering
  packages/react-editor/src/plugins/tab-focus/index.tsx
Due: none

Add classnames and styling for nested list items
  packages/react-editor/src/components/rich-editor/index.tsx
  packages/react-editor/src/editor.tsx
Due: none

Bump version
  packages/react-components/package.json
Due: none

Bump version
  packages/react-editor/package.json
Due: none

Bump version
  packages/react-icons/package.json
Due: none

Update style
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

check
  .github/workflows/docs-deployment.yaml
Due: none

audience
  .github/workflows/docs-deployment.yaml
Due: none

Caller Identity
  .github/workflows/docs-deployment.yaml
Due: none

removed assume
  .github/workflows/docs-deployment.yaml
Due: none

update style
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

debug
  .github/workflows/docs-deployment.yaml
Due: none

feat: Add color variants to checkbox component
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix disable style
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix lint issue
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add table sticky, hover, and size props
  packages/react-components/src/table/stories/table.stories.tsx
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix eslint issues
  packages/react-components/src/table/stories/table.stories.tsx
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add hover arg type
  packages/react-components/src/table/stories/table.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add color arg type
  packages/react-components/src/checkbox/stories/checkbox.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

handled some linting error and optimized build
  packages/fuma-docs/src/app/(home)/examples/accounts.tsx
  packages/fuma-docs/src/app/(home)/examples/chat.tsx
  packages/fuma-docs/src/app/(home)/examples/settings.tsx
  packages/fuma-docs/src/app/(home)/examples/travelCard.tsx
  packages/fuma-docs/src/app/layout.config.tsx
  packages/fuma-docs/src/component/component-home/index.tsx
Due: none

altered the relative path for background img
  packages/fuma-docs/src/app/(home)/examples/loginForm.tsx
  packages/fuma-docs/src/app/(home)/examples/settings.tsx
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/assets/images/loginbg.png
Due: none

Update package name
  packages/fuma-docs/package.json
Due: none

Add script for building fuma docs
  package.json
Due: none

Update table doc
  packages/docs/docs/components/table.mdx
Due: Lint, Test and Build

altered the navigation links and height of images
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/assets/images/Play2.png
Due: none

fix: Update checkbox border color and remove secondary color option from stories
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/checkbox/stories/checkbox.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhance checkbox styles with hover effects for all states
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update checkbox hover styles to use borderColor for consistency
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhance Link component with customizable styles and variants for color and underline
  packages/react-components/src/link/link.tsx
  packages/react-components/src/link/stories/link.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
