Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Bump version
  packages/react-components/package.json
Due: none

Change borderPlacement to border
  packages/docs/docs/components/table.mdx
  packages/react-components/src/table/stories/table.stories.tsx
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Spread props to Drawer component, use clsx for conditional classNames
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

Change version
  packages/react-components/package.json
Due: none

Remove trailing slash from homepage url
  packages/react-components/package.json
Due: none

Fix typo
  packages/docs/docs/components/textarea.mdx
Due: Lint, Test and Build

Update jest to accept absolute import paths
  packages/react-components/jest.config.json
Due: none

Update input UI, add classnames to individual elements
  packages/react-components/src/input/input.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update UI to match design
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

Export getCssText from createStitches
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

Bumo version
  packages/react-components/package.json
Due: none

Change popover trigger to target calendar icon, add class names to containers, allow PopoverContent props customization
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update docs to include datepicker popoverContentProps option
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build

Add spacebetween to datepicker trigger container
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

added menuPlacement props
  packages/react-components/src/select/select.tsx
  packages/react-components/src/select/stories/select.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update popover content alignment
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add docs for link component
  packages/docs/docs/components/link.mdx
  packages/docs/static/doc-snippets/link.mdx
Due: Lint, Test and Build

Fix issues with timepicker in calendar, fix tab navigation issues with month and year. Remove default date for datepicker
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Implement pkg-pr-new publishing using workflows
  packages/react-components/package.json
  yarn.lock
Due: none

Update node version in workflows
  .github/workflows/docs-deployment.yaml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish-react-components.yml
  .github/workflows/npm-publish-react-icons.yml
  .github/workflows/pkg-pr-deployment.yaml
Due: none

Change default branch input from main to master
  .github/workflows/pkg-pr-deployment.yaml
Due: none

Use default value for calendarState when value is not provided
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix timepicker pm switch issue
  packages/react-components/src/calendar/calendar-time-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update timezone picker to prevent changing of date / time when a new timezone is selected
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

table border prop is optional
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix valid months or years getting disabled due to logical issues
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix chevron direction when accordions are nested
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add access public to provenance publish
  .github/workflows/npm-publish-react-components.yml
Due: none

Add forwardRef to table related elements
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix logic issue with disabling next button in year
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add missing refs
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

introduced DialogHeader, DialogBody amd DialogFooter components. AlertDialog design updates
  packages/react-components/src/alert-dialog/alert-dialog.tsx
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add disabled style for accordion item
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update styles
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Omit default border prop from table to avoid typescript issue
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
