Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Removed unnecessary circle from delete SVG
  packages/react-icons/src/icons/delete.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Bump version
  packages/react-icons/package.json
Due: none

added github link to header
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

added links in the homepage for components
  packages/docs/src/pages/index.tsx
Due: Lint, Test and Build

Added codeblock, ordered list and underline icons
  packages/react-icons/src/icons/code-block.tsx
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/ordered-list.tsx
  packages/react-icons/src/icons/underline.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Typo fix
  packages/docs/docs/components/select.mdx
Due: Lint, Test and Build

Rename bullet list to unordered list
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/unordered-list.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Add 'Icon' postfix to name
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/unordered-list.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Update version
  packages/react-icons/package.json
Due: none

Added text format and align icons
  packages/react-icons/src/icons/index.ts
Due: Security Scan for React Icons, Lint, Test and Build

Added text format and align icons
  packages/react-icons/src/icons/text-align-center.tsx
  packages/react-icons/src/icons/text-align-justify.tsx
  packages/react-icons/src/icons/text-align-left.tsx
  packages/react-icons/src/icons/text-align-right.tsx
  packages/react-icons/src/icons/text-format.tsx
Due: Security Scan for React Icons, Lint, Test and Build

added cirlce loader and line loader in react live scope
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

added more size to circle-loader, updated story
  packages/react-components/src/loader/circle.tsx
  packages/react-components/src/loader/stories/circle.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

added docs for circle-loader and line-loader
  packages/docs/docs/components/circle-loader.mdx
  packages/docs/docs/components/line-loader.mdx
Due: Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Add absolute import path support, add lexical and related packages, update prettier and eslint config
  packages/react-components/.eslintrc.json
  packages/react-components/.prettierrc.js
  packages/react-components/package.json
  packages/react-components/rollup.config.dev.js
  packages/react-components/rollup.config.js
  packages/react-components/tsconfig.json
  yarn.lock
Due: none

Update typescript version and related changes, fix imports
  packages/react-components/package.json
  packages/react-components/src/editor/features/index.tsx
  packages/react-components/src/editor/plugins/base-dropdown/index.tsx
  packages/react-components/src/editor/plugins/dialog-link-editor/index.tsx
  packages/react-components/src/editor/plugins/dialog-link-editor/link-editor-dialog.tsx
  packages/react-components/src/editor/plugins/dialog-link-editor/link-tooltip.tsx
  packages/react-components/src/editor/plugins/floating-link-editor/index.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/tools.tsx
  yarn.lock
Due: Security Scan for React Components, Lint, Test and Build

Add base config for rollup
  packages/react-components/rollup.config.base.js
  packages/react-components/rollup.config.dev.js
  packages/react-components/rollup.config.js
Due: none

Update naming convention to use kebab case instead of camel case
  packages/react-components/src/editor/editor.tsx
  packages/react-components/src/editor/plugins/dialog-link-editor/index.tsx
  packages/react-components/src/editor/plugins/floating-link-editor/index.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
  packages/react-components/src/editor/utils/find-react-child.ts
  packages/react-components/src/editor/utils/get-dom-range-rect.ts
  packages/react-components/src/editor/utils/get-selected-node.ts
  packages/react-components/src/editor/utils/set-floating-elem-position-for-link-editor.ts
  packages/react-components/src/editor/utils/set-floating-elem-position.ts
Due: Security Scan for React Components, Lint, Test and Build

Update namespace and add more theme classnames
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add alias support to storybook
  packages/react-components/.storybook/main.js
Due: none

Fix wrong import being used
  packages/react-components/src/editor/plugins/toolbar/tools/format.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add basic docs for editor
  packages/docs/docs/editor/_category_.json
  packages/docs/docs/editor/setup.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/editor/stories/editor.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add zustand, update eslint-plugin-import
  packages/react-components/package.json
  yarn.lock
Due: none

Fix eslint not recognising tsconfig alias
  packages/react-components/.eslintrc.json
Due: none

Create store for text format state and add plugin for updating the store
  packages/react-components/src/editor/plugins/toolbar-context/index.tsx
  packages/react-components/src/editor/plugins/toolbar-context/store.ts
  packages/react-components/src/editor/plugins/toolbar-context/utils.ts
Due: Security Scan for React Components, Lint, Test and Build

Add styles for heading tags
  packages/react-components/src/editor/components/editor-area.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update text formatting tools to be more generic and use state from store instead of context, add title, aria-label and classnames
  packages/react-components/src/editor/plugins/toolbar/tools/bold.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/code-block.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/code.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/format.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/italic.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/link.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/ordered-list.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/underline.tsx
  packages/react-components/src/editor/plugins/toolbar/tools/unordered-list.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update typings
  packages/react-components/src/editor/plugins/toolbar/tools/commons.ts
Due: Security Scan for React Components, Lint, Test and Build

Add ToolbarContext plugin
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Change TextArea to input
  packages/react-components/src/editor/plugins/dialog-link-editor/link-editor-dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

Move tooltip to separate file, fix issues with link editor dialog
  packages/react-components/src/editor/plugins/dialog-link-editor/index.tsx
  packages/react-components/src/editor/plugins/dialog-link-editor/link-tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update styles, remove unnecessary states since store is used
  packages/react-components/src/editor/plugins/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/plugins/floating-toolbar/tools.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/utils.ts
Due: Security Scan for React Components, Lint, Test and Build

Show tooltip below selection by default
  packages/react-components/src/editor/utils/set-floating-elem-position.ts
Due: Security Scan for React Components, Lint, Test and Build

Remove unnecessary comma
  packages/react-components/.eslintrc.json
Due: none

Reset eslint changes
  packages/react-components/.eslintrc.json
Due: none

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
