Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Added usePrevious helper hook
  packages/react-components/src/hooks/use-previous.ts
Due: Security Scan for React Components, Lint, Test and Build

Add missing padding
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add prop to control min length for trigger string in mentions and hashtag plugin
  packages/react-components/src/editor/plugins/hashtag/index.tsx
  packages/react-components/src/editor/plugins/mentions/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added props to control labels and other properties inside link dialog editor, updated UI to match design
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
  packages/react-components/src/editor/components/dialog-link-editor/link-editor-dialog.tsx
  packages/react-components/src/editor/components/dialog-link-editor/link-tooltip.tsx
  packages/react-components/src/editor/components/toolbar/tools/link.tsx
Due: Security Scan for React Components, Lint, Test and Build

Reduce border radius of inline code
  packages/react-components/src/editor/components/rich-editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update list toolbar buttons to toggle current listitem only instead of entire block
  packages/react-components/src/editor/components/toolbar/tools/commons.ts
  packages/react-components/src/editor/components/toolbar/tools/ordered-list.tsx
  packages/react-components/src/editor/components/toolbar/tools/unordered-list.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Fix gap mismatch in month and year views
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

Show footer only if current view is date grid
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Show first two letters of week days
  packages/react-components/src/calendar/calendar-grid.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated button styles and other UI changes based on the updated design
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add timeZonePicker to datepicker props
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix mismatches with design, use component variants for better styling instead of conditional checks
  packages/react-components/src/calendar/calendar-commons.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar-week.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add checks for ensuring state value is available
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Memoize context value
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated padding based on design
  packages/react-components/src/calendar/calendar-commons.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
Due: Security Scan for React Components, Lint, Test and Build

Changed button styles for selected year
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add playgroundURL to customFields using env variables
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  yarn.lock
Due: Lint, Test and Build

Swizzle live editor for adding 'try in playground' button
  packages/docs/src/theme/Playground/index.js
  packages/docs/src/theme/Playground/styles.module.css
Due: Lint, Test and Build

Fix issue with container height
  packages/docs/src/css/custom.css
Due: Lint, Test and Build

Move codeblocks to separate directory
  packages/docs/docs/components/accordion.mdx
  packages/docs/docs/components/alert-dialog.mdx
  packages/docs/docs/components/alert.mdx
  packages/docs/docs/components/avatar.mdx
  packages/docs/static/doc-snippets/accordion.mdx
  packages/docs/static/doc-snippets/alert-dialog.mdx
  packages/docs/static/doc-snippets/alert.mdx
  packages/docs/static/doc-snippets/avatar-badge.mdx
  packages/docs/static/doc-snippets/avatar-group.mdx
  packages/docs/static/doc-snippets/avatar.mdx
Due: Lint, Test and Build

Added playground link component
  packages/docs/src/components/common/playground-link.tsx
Due: Lint, Test and Build

Updated snippets
  packages/docs/docs/components/button.mdx
  packages/docs/docs/components/calendar-range.mdx
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/checkbox.mdx
  packages/docs/docs/components/chip.mdx
  packages/docs/docs/components/circle-loader.mdx
  packages/docs/docs/components/datepicker.mdx
  packages/docs/docs/components/dialog.mdx
  packages/docs/docs/components/dialogs-manager.mdx
  packages/docs/static/doc-snippets/button-with-icon.mdx
  packages/docs/static/doc-snippets/button.mdx
  packages/docs/static/doc-snippets/calendar-range.mdx
  packages/docs/static/doc-snippets/calendar.mdx
  packages/docs/static/doc-snippets/checkbox.mdx
  packages/docs/static/doc-snippets/chip-closable.mdx
  packages/docs/static/doc-snippets/chip.mdx
  packages/docs/static/doc-snippets/circle-loader.mdx
  packages/docs/static/doc-snippets/datepicker.mdx
  packages/docs/static/doc-snippets/dialog.mdx
  packages/docs/static/doc-snippets/dialogs-manager.mdx
Due: Lint, Test and Build

Remove child type check
  packages/react-components/src/stepper/stepper.tsx
Due: Security Scan for React Components, Lint, Test and Build

changed circle loader container bg
  packages/docs/docs/components/circle-loader.mdx
Due: Lint, Test and Build

Create CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Added env file for docs to handle playground_url
  packages/docs/.env
Due: Lint, Test and Build

Updated playground snippet URL
  packages/docs/src/components/common/playground-link.tsx
  packages/docs/src/theme/Playground/index.js
Due: Lint, Test and Build

Fixed critical issues with packages using audit fix
  yarn.lock
Due: none

Add playground snippets for editor
  packages/docs/docs/components/editor/features/link.mdx
  packages/docs/docs/components/editor/features/mentions.mdx
  packages/docs/docs/components/editor/setup.mdx
  packages/docs/docs/components/editor/toolbar.mdx
  packages/docs/docs/components/editor/tutorials/slash-command-feature.mdx
  packages/docs/static/doc-snippets/editor-basic.mdx
  packages/docs/static/doc-snippets/editor-feature-hashtags.mdx
  packages/docs/static/doc-snippets/editor-feature-link.mdx
  packages/docs/static/doc-snippets/editor-feature-mentions.mdx
  packages/docs/static/doc-snippets/editor-toolbar-custom.mdx
  packages/docs/static/doc-snippets/editor-toolbar.mdx
  packages/docs/static/doc-snippets/editor-tutorial-slash-commands.mdx
Due: Lint, Test and Build

Fix type issues with accordion trigger and content
  packages/react-components/src/accordion/accordion.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added snippets for examples in docs
  packages/docs/docs/examples/music-player.mdx
  packages/docs/docs/examples/profile.mdx
  packages/docs/docs/examples/recipe.mdx
  packages/docs/static/doc-snippets/examples-music-player.mdx
  packages/docs/static/doc-snippets/examples-profile.mdx
  packages/docs/static/doc-snippets/examples-recipe.mdx
Due: Lint, Test and Build

Strip trailing slashes from playground url defined in env
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

added default id and html for
  packages/react-components/src/input/form-input.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated form input test
  packages/react-components/src/input/tests/form-input.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add forwardRef to heading and text components
  packages/react-components/src/heading/heading.tsx
  packages/react-components/src/text/text.tsx
Due: Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
