Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Remove variable and kudos node
  packages/react-components/src/editor/plugins/index.tsx
  packages/react-components/src/editor/plugins/kudos/index.tsx
  packages/react-components/src/editor/plugins/variables/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
  packages/react-icons/package.json
Due: none

Remove kudos and variable usage from docs
  packages/docs/docs/editor/features.mdx
Due: Lint, Test and Build

Fix syntax error
  packages/docs/docs/editor/toolbar.mdx
Due: Lint, Test and Build

Use replace plugin to replace import meta env with process env
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/rollup.config.base.js
  yarn.lock
Due: none

Replace unused imports, add tsconfig prop
  packages/react-components/rollup.config.js
Due: none

Remove package lock
  packages/react-components/package-lock.json
Due: none

Use custom store implementation instead of zustand
  packages/react-components/src/editor/components/toolbar-context/index.tsx
  packages/react-components/src/editor/components/toolbar-context/store.tsx
  packages/react-components/src/editor/components/toolbar/tools/bold.tsx
  packages/react-components/src/editor/components/toolbar/tools/code.tsx
  packages/react-components/src/editor/components/toolbar/tools/format.tsx
  packages/react-components/src/editor/components/toolbar/tools/italic.tsx
  packages/react-components/src/editor/components/toolbar/tools/link.tsx
  packages/react-components/src/editor/components/toolbar/tools/ordered-list.tsx
  packages/react-components/src/editor/components/toolbar/tools/text-align.tsx
  packages/react-components/src/editor/components/toolbar/tools/underline.tsx
  packages/react-components/src/editor/components/toolbar/tools/unordered-list.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove rollup plugin replace and zustand
  packages/react-components/package.json
  packages/react-components/rollup.config.base.js
  yarn.lock
Due: none

Fix wrong value from store being used in useToolbarStore hook
  packages/react-components/src/editor/components/toolbar/tools/code-block.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add borderWidth and marginLeft to AvatarNestedItem to fix avatar group layout on invalid size
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

change border width with theme token
  packages/react-components/src/avatar/avatar-group.tsx
Due: Security Scan for React Components, Lint, Test and Build

Move lexical related packages to peer dependency
  packages/react-components/package.json
Due: none

Update documentation to include installation step for editor
  packages/docs/docs/editor/setup.mdx
Due: Lint, Test and Build

Fix wrong typings for initial editorState
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhancement: Added formlabel and required indicator for select component
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

PR comments fixes
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

eslint-fix
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

year validation added for min
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added an test case for the select component
  packages/react-components/src/select/select.tsx
  packages/react-components/src/select/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update theme customization docs to recommend using theme.config.js
  packages/docs/docs/theming.mdx
Due: Lint, Test and Build

link asChild v1
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/link/link.tsx
  yarn.lock
Due: Security Scan for React Components, Lint, Test and Build

support for promises added
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

added support for changing title using promise data
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added toastr-promise in stories
  packages/react-components/src/toast/stories/toast.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

revert variant type in use-toast hook
  packages/react-components/src/hooks/use-toast.ts
Due: Security Scan for React Components, Lint, Test and Build

added variant type to avoid any
  packages/react-components/src/hooks/use-toast.ts
Due: Security Scan for React Components, Lint, Test and Build

Rename MenuData to TypeaheadMenuData Add onMenuItemSelect make $createNode optional
  packages/react-components/src/editor/components/base-dropdown/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename MenuData to TypeaheadMenuData
  packages/react-components/src/editor/plugins/hashtag/index.tsx
  packages/react-components/src/editor/plugins/mentions/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add validation to URL and text in DialogModal, fix issues with dialog opening
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add validator package, add lexical packages to docs dependency
  packages/docs/package.json
  packages/react-components/package.json
  yarn.lock
Due: Lint, Test and Build

Add errors to form input
  packages/react-components/src/editor/components/dialog-link-editor/link-editor-dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update docs to include feature docs, helpers and tutorial for creating slash command plugin
  packages/docs/docs/editor/_category_.json
  packages/docs/docs/editor/features/hashtags.mdx
  packages/docs/docs/editor/features/index.mdx
  packages/docs/docs/editor/features/link.mdx
  packages/docs/docs/editor/features/mentions.mdx
  packages/docs/docs/editor/helpers/_category_.json
  packages/docs/docs/editor/helpers/base-dropdown.mdx
  packages/docs/docs/editor/tutorials/_category_.json
  packages/docs/docs/editor/tutorials/slash-command-feature.mdx
  packages/docs/src/css/custom.css
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

added maxtoasts prop
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/toastr.tsx
Due: Security Scan for React Components, Lint, Test and Build

build fail
  packages/react-components/src/hooks/use-toast.ts
Due: Security Scan for React Components, Lint, Test and Build

Fix version conflict issues
  packages/docs/package.json
  yarn.lock
Due: Lint, Test and Build

Remove missing imports
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

variant as prop and storybook changes
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/stories/toast.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build
