Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run eslint, Build Icons, Test, Build Components

Path conditions:
  Run eslint: (any of: packages/react-icons/**) or (any of: packages/react-components/**)
  Build Icons: any of: packages/react-icons/**
  Test: any of: packages/react-components/**
  Build Components: any of: packages/react-components/**

added cursor pointer
  packages/react-components/src/switch/switch.tsx
Due: Run eslint, Test, Build Components

by default type button added
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

Fix focus state overwriting active state
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

removed all icons related to thrive
  packages/react-icons/src/icons/file-upload.tsx
  packages/react-icons/src/icons/flower-color.tsx
  packages/react-icons/src/icons/gauge-color.tsx
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/modify-table.tsx
  packages/react-icons/src/icons/opinion-scale-color.tsx
  packages/react-icons/src/icons/question-bank.tsx
  packages/react-icons/src/icons/question-set.tsx
  packages/react-icons/src/icons/section-plus.tsx
  packages/react-icons/src/icons/text-input-color.tsx
  packages/react-icons/src/icons/thumbs-up-heart-color.tsx
  packages/react-icons/src/icons/upload-two.tsx
Due: Run eslint, Build Icons

updated text docs
  packages/docs/docs/components/text.mdx
Due: none

removed cog icon
  packages/react-icons/src/icons/cog.tsx
  packages/react-icons/src/icons/index.ts
Due: Run eslint, Build Icons

updated version
  packages/react-components/package.json
  packages/react-components/src/accordion/tests/index.test.tsx
Due: Run eslint, Test, Build Components

renamed MicroPhone to Microphone
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/microphone.tsx
Due: Run eslint, Build Icons

Remove console log
  packages/react-components/src/button/side-element.tsx
Due: Run eslint, Test, Build Components

Use lower margin value for smaller buttons with loaders
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

corrected docs
  packages/docs/docs/components/text.mdx
Due: none

all color icons removed
  packages/react-icons/src/icons/google-color.tsx
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/slack-color.tsx
  packages/react-icons/src/icons/teams-color.tsx
Due: Run eslint, Build Icons

radar-chart icon removed
  packages/react-icons/src/icons/index.ts
  packages/react-icons/src/icons/radar-chart.tsx
Due: Run eslint, Build Icons

added timepicker docs
  packages/docs/docs/components/timepicker.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: none

POC for bundle optimizations
  packages/.DS_Store
  packages/react-components/esbuild.js
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/index.tsx
  packages/react-components/tsconfig.json
  packages/react-icons/esbuild.js
  packages/react-icons/package.json
  packages/react-icons/rollup.config.js
  packages/react-icons/tsconfig.json
  yarn.lock
Due: Run eslint, Build Icons, Test, Build Components

Update rollup to generate mjs and cjs files
  packages/react-components/package.json
  packages/react-components/rollup.config.js
Due: Run eslint, Test, Build Components

Add delay to line loading animation
  packages/react-components/src/loader/line.tsx
Due: Run eslint, Test, Build Components

Use esbuild with rollup, fix issues with bundle, fix dependency issues
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/tsconfig.json
  yarn.lock
Due: Run eslint, Test, Build Components

Add separation for es and cjs builds
  packages/react-icons/package.json
Due: Run eslint, Build Icons

Fix wrong path for stitches config in stories
  packages/react-components/src/theme-provider/stories/theme-provider.stories.mdx
Due: Run eslint, Test, Build Components

Remove negative-ghost variant, rename ghost to bright in loader
  packages/react-components/src/button/utils.ts
  packages/react-components/src/loader/circle.tsx
  packages/react-components/src/loader/line.tsx
Due: Run eslint, Test, Build Components

added 1.5 stroke by def to alarm clock icon
  packages/react-icons/src/icons/alarm-clock.tsx
Due: Run eslint, Build Icons

strokewidth added to prop
  packages/react-icons/src/types.ts
Due: Run eslint, Build Icons

added space
  packages/react-icons/src/types.ts
Due: Run eslint, Build Icons

Use same rollup config as that of components for icons, fix paths in package json. Remove unnecessary files
  packages/.DS_Store
  packages/react-components/package.json
  packages/react-icons/package.json
  packages/react-icons/rollup.config.js
  yarn.lock
Due: Run eslint, Build Icons, Test, Build Components

Remove use client
  packages/react-components/src/toast/toastr.tsx
Due: Run eslint, Test, Build Components

Enable sourcemap from pluginpure, rename entry file
  packages/react-components/rollup.config.js
  packages/react-components/src/index.ts
  packages/react-icons/rollup.config.js
Due: Run eslint, Build Icons, Test, Build Components

Rename loaderType to loader to allow custom components to be passed as loader
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/side-element.tsx
  packages/react-components/src/button/utils.ts
Due: Run eslint, Test, Build Components

updated versions
  packages/react-components/package.json
  packages/react-icons/package.json
Due: Run eslint, Build Icons, Test, Build Components

added size varaint and changed hover color
  packages/react-components/src/dropdown/dropdown.tsx
  packages/react-components/src/dropdown/stories/dropdown.stories.tsx
Due: Run eslint, Test, Build Components

replaced IconButton reference with StyledIconButton
  packages/react-components/package.json
  packages/react-components/src/alert/alert.tsx
Due: Run eslint, Test, Build Components

changed hover and selected state background color and option color
  packages/react-components/src/select/select.tsx
Due: Run eslint, Test, Build Components

required indicator added for both form input and label
  packages/react-components/src/form-label/form-label.tsx
  packages/react-components/src/form-label/stories/form-label.stories.tsx
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/input/stories/form-input.stories.tsx
Due: Run eslint, Test, Build Components

Fix missing props in form label
  packages/react-components/src/form-label/form-label.tsx
Due: Run eslint, Test, Build Components

Added POC for editor using lexical, made related changes
  packages/react-components/.eslintrc.json
  packages/react-components/package.json
  packages/react-components/src/editor/index.tsx
  packages/react-components/src/editor/nodes/hashtag.tsx
  packages/react-components/src/editor/nodes/image.tsx
  packages/react-components/src/editor/nodes/kudos.tsx
  packages/react-components/src/editor/nodes/mention.tsx
  packages/react-components/src/editor/plugins/auto-link/index.tsx
  packages/react-components/src/editor/plugins/base-dropdown/index.tsx
  packages/react-components/src/editor/plugins/hashtag/index.tsx
  packages/react-components/src/editor/plugins/images/index.tsx
  packages/react-components/src/editor/plugins/images/utils.ts
  packages/react-components/src/editor/plugins/kudos/index.tsx
  packages/react-components/src/editor/plugins/mentions/index.tsx
  packages/react-components/src/editor/plugins/toolbar/buttons.tsx
  packages/react-components/src/editor/plugins/toolbar/index.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/utils.ts
  packages/react-components/src/index.ts
  yarn.lock
Due: Run eslint, Test, Build Components

added stroke width file
  packages/react-icons/script.js
Due: Run eslint, Build Icons

proper borderwidths added to button and secondary outline added
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/utils.ts
Due: Run eslint, Test, Build Components

error outline added
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components
