Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run eslint, Build Icons, Test, Build Components

Run eslint:
  script:
  - cd packages/react-components
  - npm install eslint
  - npx eslint .
  caches:
  - node

Build Icons:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run build --scope=@sparrowengg/twigs-react-icons

Test:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run test

Build Components:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run build --scope=@sparrowengg/twigs-react

added light outline variant
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

Change import paths from dist to src
  packages/docs/src/components/icons/index.tsx
  packages/docs/src/components/theming/border-widths.tsx
  packages/docs/src/components/theming/colors.tsx
  packages/docs/src/components/theming/font-sizes.tsx
  packages/docs/src/components/theming/font-weights.tsx
  packages/docs/src/components/theming/index.tsx
  packages/docs/src/components/theming/radii.tsx
  packages/docs/src/components/theming/sizes.tsx
  packages/docs/src/components/theming/spaces.tsx
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: none

Remove parallel building from bitbucket pipeline
  bitbucket-pipelines.yml
Due: none

used custom text for asterisk
  packages/react-components/src/form-label/form-label.tsx
Due: Run eslint, Test, Build Components

added test case for formlabel
  packages/react-components/src/form-label/form-label.tsx
  packages/react-components/src/form-label/tests/index.test.tsx
Due: Run eslint, Test, Build Components

Update pipeline to prevent skipping of certain builds
  bitbucket-pipelines.yml
Due: none

Debug nx cache issue by directly using yarn build
  bitbucket-pipelines.yml
Due: none

Use nx reset before building to debug pipeline issue
  bitbucket-pipelines.yml
Due: none

Fix nx command not found
  bitbucket-pipelines.yml
Due: none

updated forminput docs
  packages/docs/docs/components/form-input.mdx
Due: none

updated form label docs
  packages/docs/docs/components/form-label.mdx
Due: none

throw error if not valid component
  packages/react-components/src/form-label/form-label.tsx
Due: Run eslint, Test, Build Components

added size variants in dropdown docs
  packages/docs/docs/components/dropdown.mdx
Due: none

done
  packages/react-components/src/input/form-input.tsx
Due: Run eslint, Test, Build Components

box shadow red added for forminput bottom when there is error
  packages/react-components/src/input/form-input.tsx
Due: Run eslint, Test, Build Components

Cache node only once, use artifcats to store previous results
  bitbucket-pipelines.yml
Due: none

Eslint fix, trigger build
  packages/react-components/src/alert/alert.tsx
Due: Run eslint, Test, Build Components

Remove node_modules as an artifact, remove yarn global install as it is already installed in docker
  bitbucket-pipelines.yml
Due: none

Remove nx reset
  bitbucket-pipelines.yml
Due: none

Cache global npm packages
  bitbucket-pipelines.yml
Due: none

Change dir for global npm installs, add condition for react icons security check
  bitbucket-pipelines.yml
Due: none

Update global npm package directory add debug info for path
  bitbucket-pipelines.yml
Due: none

Update debug info
  bitbucket-pipelines.yml
Due: none

Use npx instead of global command for lerna
  bitbucket-pipelines.yml
Due: none

Add yarn to different test steps
  bitbucket-pipelines.yml
Due: none

Update pipeline to run yarn before each step
  bitbucket-pipelines.yml
Due: none

Install swc and use it for jest testing, update eslint commands in package json
  packages/react-components/jest.config.json
  packages/react-components/package.json
  packages/react-icons/package.json
  yarn.lock
Due: Run eslint, Build Icons, Test, Build Components

Update eslint rules and ignore paths
  packages/react-components/.eslintignore
  packages/react-components/.eslintrc.json
  packages/react-icons/.eslintignore
Due: Run eslint, Build Icons, Test, Build Components

Run eslint fix, manually fix eslint issues, add eslint ignore in some places
  packages/react-components/src/alert/index.tsx
  packages/react-components/src/alert/tests/index.test.tsx
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/datepicker/date-time-segment.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
  packages/react-components/src/radio/radio.tsx
  packages/react-components/src/radio/stories/radio.stories.tsx
  packages/react-components/src/select/select.tsx
  packages/react-components/src/stepper/stepper.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
  packages/react-components/src/stitches.config.ts
  packages/react-components/src/text/stories/text.stories.tsx
  packages/react-components/src/text/text.tsx
  packages/react-components/src/utils/index.ts
  packages/react-icons/src/icons/grip-dots-vertical.tsx
  packages/react-icons/src/index.ts
  packages/react-icons/src/stories/icon.stories.tsx
Due: Run eslint, Build Icons, Test, Build Components

Use eslint command from package json, run npx lerna instead of global lerna
  bitbucket-pipelines.yml
Due: none

Add build scripts to root package json
  package.json
Due: none

Remove lerna installation and use build commands from root package json
  bitbucket-pipelines.yml
Due: none

Add caching for nested node_modules
  bitbucket-pipelines.yml
Due: none

Redefine node_modules cache, add parallel steps for security checks
  bitbucket-pipelines.yml
Due: none

Fix issues with pipeline
  bitbucket-pipelines.yml
Due: none

Update pipelines to add yarn install before steps
  bitbucket-pipelines.yml
Due: none

Add caching to each step
  bitbucket-pipelines.yml
Due: none

Merge steps from pull requests into single one
  bitbucket-pipelines.yml
Due: none

Remove icon and component build as it is covered in docs
  bitbucket-pipelines.yml
Due: none

Revert removed steps
  bitbucket-pipelines.yml
Due: none

Path conditions:
  Run eslint: (any of: packages/react-icons/**) or (any of: packages/react-components/**)
  Build Icons: any of: packages/react-icons/**
  Test: any of: packages/react-components/**
  Build Components: any of: packages/react-components/**
