Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Update twigs config file structure
  packages/docs/docs/theming.mdx
Due: Lint, Test and Build

Rename editorState to initialEditorState
  packages/docs/docs/editor/setup.mdx
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

added test cases for promise-toastr
  packages/react-components/src/toast/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

changed loading toastr design
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/loader/circle.tsx
  packages/react-components/src/toast/stories/toast.stories.tsx
  packages/react-components/src/toast/tests/index.test.tsx
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

adressed comment
  packages/react-components/src/hooks/use-toast.ts
Due: Security Scan for React Components, Lint, Test and Build

Add provenance to npm publish workflow
  .github/workflows/npm-publish-react-components.yml
  .github/workflows/npm-publish-react-icons.yml
Due: none

Change repo URL and license
  packages/react-components/package.json
  packages/react-icons/package.json
Due: none

done
  packages/react-components/src/link/link.tsx
  packages/react-components/src/link/slot.tsx
  packages/react-components/src/link/stories/link.stories.tsx
  packages/react-components/src/utils/combine-ref.ts
  packages/react-components/src/utils/merge-props.ts
Due: Security Scan for React Components, Lint, Test and Build

final commit
  package-lock.json
  packages/react-components/src/link/link.tsx
  packages/react-components/src/link/slot.tsx
  packages/react-components/src/utils/combine-ref.ts
  packages/react-components/src/utils/merge-props.ts
Due: Security Scan for React Components, Lint, Test and Build

lock file
  yarn.lock
Due: none

fix layout issue of toastr and props fix
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

adressed comments
  packages/react-components/src/hooks/use-toast.ts
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed lint errors
  packages/react-components/src/hooks/use-toast.ts
Due: Security Scan for React Components, Lint, Test and Build

Added label prop in the docs
  packages/docs/docs/components/select.mdx
Due: Lint, Test and Build

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Handle link insertion and link editor dialog opening when link tool is used from the toolbar while selection is empty
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
  packages/react-components/src/editor/components/toolbar/tools/link.tsx
  packages/react-components/src/editor/utils/commands.ts
Due: Security Scan for React Components, Lint, Test and Build

Fix path resolve issue for custom resolver
  packages/react-components/rollup.config.base.js
Due: none

stack init
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stack/get-separator-style.ts
  packages/react-components/src/stack/h-stack.tsx
  packages/react-components/src/stack/index.tsx
  packages/react-components/src/stack/stack.tsx
  packages/react-components/src/stack/stories/stack.stories.tsx
  packages/react-components/src/stack/v-stack.tsx
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

added box instead of flex
  packages/react-components/src/stack/h-stack.tsx
  packages/react-components/src/stack/stack.tsx
  packages/react-components/src/stack/v-stack.tsx
Due: Security Scan for React Components, Lint, Test and Build

added ref to select
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed eslint
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

reverted yarn lock
  yarn.lock
Due: none

yarn lock fixed
  yarn.lock
Due: none

animation direcion synced with swipe direction
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

eslint fix
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor stack component to support responsive direction prop
  packages/react-components/src/stack/get-separator-style.ts
  packages/react-components/src/stack/stack.tsx
  packages/react-components/src/stack/stories/stack.stories.tsx
  packages/react-components/src/stack/tests/index.test.tsx
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

added docs for stack
  packages/docs/docs/components/stack.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/stack/index.tsx
  packages/react-components/src/stack/stack.tsx
  packages/react-components/src/stack/stories/stack.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix typo in stack.mdx file
  packages/docs/docs/components/stack.mdx
Due: Lint, Test and Build

remove log
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add button component with icon support, add iconButton page and add promise doc for toast
  packages/docs/docs/components/button.mdx
  packages/docs/docs/components/icon-button.mdx
  packages/docs/docs/components/toast.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

added separator component
  packages/docs/docs/components/stack.mdx
  packages/react-components/package.json
  packages/react-components/src/index.ts
  packages/react-components/src/separator/index.tsx
  packages/react-components/src/separator/separator.tsx
  packages/react-components/src/separator/stories/separator.stories.tsx
  packages/react-components/src/separator/tests/index.test.tsx
  packages/react-components/src/stack/stories/stack.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add Separator component to ReactLiveScope
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

eslint fix
  packages/react-components/src/link/stories/link.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

added split button and button styling changes:
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/index.tsx
  packages/react-components/src/button/split-button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor Separator component styling and usage in React components
  packages/docs/docs/components/stack.mdx
  packages/react-components/src/separator/separator.tsx
  packages/react-components/src/separator/stories/separator.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix lint
  packages/react-components/src/separator/stories/separator.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build
