Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Changed hover card design according to design
  packages/react-components/src/hover-card/hover-card.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added support for dynamic data - both in listing page and in search results
  packages/docs/docs/components/cascader.mdx
  packages/react-components/src/cascader/cascader-aria-live.tsx
  packages/react-components/src/cascader/cascader-atomics.tsx
  packages/react-components/src/cascader/cascader-content.tsx
  packages/react-components/src/cascader/cascader-footer.tsx
  packages/react-components/src/cascader/cascader-list-item.tsx
  packages/react-components/src/cascader/cascader-list.tsx
  packages/react-components/src/cascader/cascader-node.ts
  packages/react-components/src/cascader/cascader-provider.tsx
  packages/react-components/src/cascader/cascader-root-node.ts
  packages/react-components/src/cascader/cascader-searchlist-item.tsx
  packages/react-components/src/cascader/cascader-searchlist.tsx
  packages/react-components/src/cascader/cascader-utils.ts
  packages/react-components/src/cascader/cascader.tsx
  packages/react-components/src/cascader/stories/cascader.stories.tsx
  packages/react-components/src/input/input.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix import path
  packages/react-components/src/cascader/cascader-list-item.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add missing key
  packages/react-components/src/cascader/cascader-searchlist.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix lodash issue with jest
  packages/react-components/jest.config.json
Due: none

Configure algolia and remove lunr search
  packages/docs/docusaurus.config.js
  packages/docs/src/css/custom.css
Due: Lint, Test and Build

Remove swizzled search bar files for algolia
  packages/docs/src/theme/SearchBar/DocSearch.js
  packages/docs/src/theme/SearchBar/algolia.css
  packages/docs/src/theme/SearchBar/index.js
  packages/docs/src/theme/SearchBar/lunar-search.js
  packages/docs/src/theme/SearchBar/styles.css
  packages/docs/src/theme/SearchBar/templates.js
  packages/docs/src/theme/SearchBar/utils.js
Due: Lint, Test and Build

Add refs to pagination and slider components
  packages/react-components/src/pagination/pagination.tsx
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add refs for checkbox
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add containerRef to radio
  packages/react-components/src/radio/radio.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Remove type from selectStyles object as it removed variant props when ComponentProps is called
  packages/react-components/src/select/select.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added portalContainer prop
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add ref and containerRef prop to form label
  packages/react-components/src/form-label/form-label.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use Ref instead of RefObject for better typescript support while using forward refs
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/form-label/form-label.tsx
  packages/react-components/src/loader/circle.tsx
  packages/react-components/src/loader/line.tsx
  packages/react-components/src/radio/radio.tsx
Due: Security Scan for React Components, Lint, Test and Build

Move index file to different file and export everything from store
  packages/react-components/src/editor/components/toolbar-context/context.tsx
  packages/react-components/src/editor/components/toolbar-context/index.ts
Due: Security Scan for React Components, Lint, Test and Build

Added image component
  packages/react-components/src/img/img.tsx
  packages/react-components/src/img/index.tsx
  packages/react-components/src/img/stories/img.stories.tsx
  packages/react-components/src/img/tests/index.test.tsx
  packages/react-components/src/index.ts
Due: Security Scan for React Components, Lint, Test and Build

Add docs page from image
  packages/docs/docs/components/img.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/img.mdx
Due: Lint, Test and Build

Rename Img to Image
  packages/docs/docs/components/image.mdx
  packages/docs/docs/components/img.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/image.mdx
  packages/docs/static/doc-snippets/img.mdx
  packages/react-components/src/image/image.tsx
  packages/react-components/src/image/index.tsx
  packages/react-components/src/image/stories/image.stories.tsx
  packages/react-components/src/image/tests/index.test.tsx
  packages/react-components/src/img/index.tsx
  packages/react-components/src/index.ts
Due: Security Scan for React Components, Lint, Test and Build

Rename Img to Image in missed places
  packages/docs/static/doc-snippets/image.mdx
  packages/react-components/src/image/image.tsx
  packages/react-components/src/image/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Move Image story base to Data Display
  packages/react-components/src/image/stories/image.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add ref to image component
  packages/react-components/src/image/image.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated box shadow
  packages/react-components/src/toast/toast.tsx
Due: Security Scan for React Components, Lint, Test and Build

src should be mandatory Image
  packages/react-components/src/image/image.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated version to 18.3
  packages/react-components/package.json
  packages/react-icons/package.json
  yarn.lock
Due: none

Reset bump version
  packages/react-components/package.json
Due: none

Given zIndex 2 to button.
  packages/docs/static/doc-snippets/examples-music-player.mdx
Due: Lint, Test and Build

add class names for link tooltip to for apply styles, adjusted positioning of floating toolbar when both link tooltip and toolbar is present at top
  packages/react-components/src/editor/components/dialog-link-editor/link-tooltip.tsx
  packages/react-components/src/editor/components/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/utils/set-floating-elem-position.ts
Due: Security Scan for React Components, Lint, Test and Build

fix lints'
  packages/react-components/src/editor/components/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/utils/set-floating-elem-position.ts
Due: Security Scan for React Components, Lint, Test and Build

add class names for link tooltip to for apply styles, adjusted positioning of floating toolbar when both link tooltip and toolbar is present at top
  packages/react-components/src/editor/components/dialog-link-editor/link-tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add size variant and FormLabelButton component
  packages/react-components/src/form-label/form-label.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add helper text and adjust size of text components
  packages/react-components/src/input/form-input.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update size of text components
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update story to use FormLabelButton
  packages/react-components/src/input/stories/form-input.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
