Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Use cjs extension for rollup config files
  packages/react-editor/package.json
  packages/react-editor/rollup.config.base.cjs
  packages/react-editor/rollup.config.cjs
  packages/react-editor/rollup.config.dev.cjs
  packages/react-editor/rollup.config.dev.js
  packages/react-editor/rollup.config.js
Due: none

Update workflow to include build step
  .github/workflows/editor-test-ci.yaml
Due: none

Calendar add sm size
  packages/react-components/src/calendar/calendar-commons.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar-week.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-provider.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-input.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/filter/filter-pill-value-selector.tsx
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-value-selector.tsx
  packages/react-components/src/filter/filter-value-dropdown/helpers/filter-value-dropdown-constants.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
Due: Security Scan for React Components, Lint, Test and Build

Cascader Dropdown, Pill Value
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-provider.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-root-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/cascader-dropdown/stories/cascader-dropdown.stories.tsx
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/cascader-dropdown/use-value.ts
  packages/react-components/src/filter/filter-pill-value-selector.tsx
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/filter-value-dropdown/helpers/filter-value-dropdown-constants.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
Due: Security Scan for React Components, Lint, Test and Build

Remove console log
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Cascader dropdown, Filter group
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-input.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-list.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add pkg pr workflow for editor, add build script for editor
  .github/workflows/editor-pkg-pr-deployment.yaml
  package.json
Due: none

Update workflow to run automatically on PR
  .github/workflows/editor-pkg-pr-deployment.yaml
Due: none

Cascader Dropdown Input onKeyDown
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-input.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
Due: Security Scan for React Components, Lint, Test and Build

Rename package and update imports from twigs-react to twigs-editor-react
  .github/workflows/editor-pkg-pr-deployment.yaml
  package.json
  packages/docs/docs/components/editor/features/index.mdx
  packages/docs/docs/components/editor/setup.mdx
  packages/docs/docs/components/editor/toolbar.mdx
  packages/docs/docs/components/editor/tutorials/slash-command-feature.mdx
  packages/docs/package.json
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/editor-basic.mdx
  packages/docs/static/doc-snippets/editor-feature-convert-pasted-text-to-link.mdx
  packages/docs/static/doc-snippets/editor-feature-emoji.mdx
  packages/docs/static/doc-snippets/editor-feature-hashtags.mdx
  packages/docs/static/doc-snippets/editor-feature-link.mdx
  packages/docs/static/doc-snippets/editor-feature-mentions.mdx
  packages/docs/static/doc-snippets/editor-toolbar-custom.mdx
  packages/docs/static/doc-snippets/editor-toolbar.mdx
  packages/docs/static/doc-snippets/editor-tutorial-slash-commands.mdx
  packages/react-editor/package.json
Due: Lint, Test and Build

Rename node.js ci to test-lint-build, remove editor test ci and add it to existing ci
  .github/workflows/editor-test-ci.yaml
  .github/workflows/test-lint-build.yml
Due: none

Remove lexical peer dependency for twigs-react
  packages/react-components/package.json
Due: none

Update peer dependency condition for lexical in editor
  packages/react-editor/package.json
Due: none

Temporarily undo peer dependency requirement
  packages/react-components/package.json
Due: none

Add GitHub Actions workflow for publishing react-editor package on release
  .github/workflows/npm-publish-react-editor.yml
Due: none

Delete Filter
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Publish all packages in monorepo to pkg-pr on PR
  .github/workflows/editor-pkg-pr-deployment.yaml
  .github/workflows/pkg-pr-deployment.yaml
Due: none

Bump version
  packages/react-components/package.json
Due: none

Update readme
  packages/react-editor/README.md
Due: none

Fix typo
  packages/react-editor/README.md
Due: none

Update steps to include playwright install
  .github/workflows/npm-publish-react-components.yml
Due: none

Add workflow for manually triggering a publish
  .github/workflows/npm-publish-react-components-manual.yml
Due: none

Update workflow description
  .github/workflows/npm-publish-react-components-manual.yml
Due: none

Add twigs packages as peer dependencies for editor
  packages/react-editor/package.json
Due: none

Flexi Pills
  packages/react-components/src/flexi-pill/flexi-pill.tsx
  packages/react-components/src/flexi-pill/index.tsx
  packages/react-components/src/flexi-pill/side-element.tsx
  packages/react-components/src/flexi-pill/stories/flexiPill.stories.tsx
  packages/react-components/src/flexi-pill/tests/index.test.tsx
  packages/react-components/src/flexi-pill/utils.ts
Due: Security Scan for React Components, Lint, Test and Build

FIX: Calendar range ehancements
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

FIX: Calendar range ehancements
  packages/react-components/src/calendar/calendar-cell.tsx
Due: Security Scan for React Components, Lint, Test and Build

FIX: Calendar range ehancements
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
Due: Security Scan for React Components, Lint, Test and Build

FIX: typo changes
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
Due: Security Scan for React Components, Lint, Test and Build

FIX: typo changes
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
Due: Security Scan for React Components, Lint, Test and Build

FIX: typo changes
  packages/react-components/src/calendar/calendar-cell.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add onChangePluginProps to editor
  packages/react-editor/src/editor.tsx
Due: none

FIX: typo changes
  packages/react-components/src/calendar/calendar-range.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add formatSegments function to support custom segment formatting
  packages/react-components/src/datepicker/date-field.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update story to include formatSegments function. It shows custom month formatting and swapping of day and month
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update datepicker documentation, adding example for custom formatSegments function, demonstrating month formatting and segment customization.
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build

Add snippet for DatePicker formatSegments function with month formatting.
  packages/docs/static/doc-snippets/datepicker-format-segments.mdx
Due: Lint, Test and Build

Bump version
  packages/react-editor/package.json
Due: none
