Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Update Link component styles and documentation for color and underline props
  packages/docs/static/doc-snippets/link.mdx
  packages/react-components/src/link/link.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update link href
  packages/react-components/src/link/stories/link.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhance StyledAnchor component with focus-visible styles for better accessibility
  packages/react-components/src/link/link.tsx
Due: Security Scan for React Components, Lint, Test and Build

implemented the server side rendering
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/examples/accounts.tsx
  packages/fuma-docs/src/app/(home)/examples/chat.tsx
  packages/fuma-docs/src/app/(home)/examples/cookieCard.tsx
  packages/fuma-docs/src/app/(home)/examples/dashboard.tsx
  packages/fuma-docs/src/app/(home)/examples/loginForm.tsx
  packages/fuma-docs/src/app/(home)/examples/miniForm.tsx
  packages/fuma-docs/src/app/(home)/examples/settings.tsx
  packages/fuma-docs/src/app/(home)/examples/tabsComponent.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/layout.tsx
  packages/fuma-docs/src/app/stitches-registry.tsx
  packages/fuma-docs/src/assets/images/Play2.png
  packages/fuma-docs/src/component/playground/playground.css
  packages/fuma-docs/src/component/theming/border-widths.tsx
  packages/fuma-docs/src/component/theming/borders-and-radii.tsx
  packages/fuma-docs/src/component/theming/radii.tsx
Due: none

Enhance Dialog component: add isDismissable and isKeyboardDismissDisabled props
  packages/react-components/src/dialog/dialog.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update Dialog component documentation
  packages/docs/docs/components/dialog.mdx
Due: Lint, Test and Build

included middleware and some ui alterations
  packages/fuma-docs/content/docs/components/cascader.mdx
  packages/fuma-docs/content/docs/components/index.mdx
  packages/fuma-docs/content/docs/components/meta.json
  packages/fuma-docs/content/docs/getting-started/index.mdx
  packages/fuma-docs/content/docs/getting-started/nextjs.mdx
  packages/fuma-docs/content/docs/getting-started/theming.mdx
  packages/fuma-docs/snippets/__common/theme.json
  packages/fuma-docs/snippets/cascader-basic/CascaderBasic.tsx
  packages/fuma-docs/snippets/cascader-basic/meta.json
  packages/fuma-docs/snippets/cascader-basic/test-data.ts
  packages/fuma-docs/snippets/cascader-features/CascaderCreatable.tsx
  packages/fuma-docs/snippets/cascader-features/CascaderCustomValue.tsx
  packages/fuma-docs/snippets/cascader-features/CascaderDisabledOptions.tsx
  packages/fuma-docs/snippets/cascader-features/CascaderDynamicData.tsx
  packages/fuma-docs/snippets/cascader-features/meta.json
  packages/fuma-docs/snippets/cascader-features/test-data.ts
  packages/fuma-docs/snippets/theming-basic/ThemingBasic.tsx
  packages/fuma-docs/src/app/(home)/examples/dashboard.tsx
  packages/fuma-docs/src/app/(home)/examples/travelCard.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/app/api/snippets/[snippet]/route.ts
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/layout.tsx
  packages/fuma-docs/src/app/stitches-registry.tsx
  packages/fuma-docs/src/component/component-home/index.tsx
  packages/fuma-docs/src/component/icons/customization.tsx
  packages/fuma-docs/src/component/playground/playground.css
  packages/fuma-docs/src/component/playground/playground.tsx
  packages/fuma-docs/src/component/theming/colors.tsx
  packages/fuma-docs/src/component/upgrade-guide/upgrade-guide.tsx
  packages/fuma-docs/src/middleware.ts
Due: none

altered mdx files by rechecking and altered props in datepicker and timepicker
  packages/fuma-docs/content/docs/components/alert-dialog.mdx
  packages/fuma-docs/content/docs/components/alert.mdx
  packages/fuma-docs/content/docs/components/avatar.mdx
  packages/fuma-docs/content/docs/components/button.mdx
  packages/fuma-docs/content/docs/components/calendar-range.mdx
  packages/fuma-docs/content/docs/components/calendar.mdx
  packages/fuma-docs/content/docs/components/cascader.mdx
  packages/fuma-docs/content/docs/components/checkbox.mdx
  packages/fuma-docs/content/docs/components/datepicker.mdx
  packages/fuma-docs/content/docs/components/dialog.mdx
  packages/fuma-docs/content/docs/components/flex.mdx
  packages/fuma-docs/content/docs/components/form-input.mdx
  packages/fuma-docs/content/docs/components/icon-button.mdx
  packages/fuma-docs/content/docs/components/image.mdx
  packages/fuma-docs/content/docs/components/link.mdx
  packages/fuma-docs/content/docs/components/split-button.mdx
  packages/fuma-docs/content/docs/components/table.mdx
  packages/fuma-docs/content/docs/components/textarea.mdx
  packages/fuma-docs/content/docs/components/timepicker.mdx
  packages/fuma-docs/content/docs/components/tooltip.mdx
  packages/fuma-docs/content/docs/icons/playground.mdx
  packages/fuma-docs/snippets/checkbox-basic/CheckboxBasic.tsx
  packages/fuma-docs/snippets/checkbox-indeterminate/CheckboxIndeterminate.tsx
  packages/fuma-docs/snippets/checkbox-indeterminate/meta.json
  packages/fuma-docs/snippets/datepicker-format-segments/DatePickerFormatSegments.tsx
  packages/fuma-docs/snippets/stepper-basic/StepperBasic.tsx
  packages/fuma-docs/snippets/tooltip-basic/TooltipBasic.tsx
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/component/component-home/index.tsx
  packages/react-components/src/datepicker/datepicker.tsx
  packages/react-components/src/timepicker/timepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove link visited style
  packages/react-components/src/link/link.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add buttonAs prop to Button and IconButton components
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/icon-button.tsx
Due: Security Scan for React Components, Lint, Test and Build

altered the animation flow
  packages/fuma-docs/src/app/(home)/examples/accounts.tsx
  packages/fuma-docs/src/app/(home)/examples/dashboard.tsx
  packages/fuma-docs/src/app/(home)/examples/loginForm.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/styles.css
Due: none

altered the footer component
  packages/fuma-docs/src/app/(home)/examples/meetingCard.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
Due: none

changed the rendering of component home page with objects, changed the link in the header to custom component
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/layout.config.tsx
  packages/fuma-docs/src/assets/images/travel-card-img.jpg
  packages/fuma-docs/src/component/component-home/component-preview.tsx
  packages/fuma-docs/src/component/component-home/components-data.ts
  packages/fuma-docs/src/component/component-home/index.tsx
Due: none

altered the logic in skeleton rendering
  packages/fuma-docs/src/component/component-home/component-preview.tsx
Due: none

altered the SSR logic, some minimal changes in mdx and removed theme provider for testing
  packages/fuma-docs/content/docs/components/box.mdx
  packages/fuma-docs/content/docs/components/button.mdx
  packages/fuma-docs/content/docs/components/flex.mdx
  packages/fuma-docs/content/docs/components/grid.mdx
  packages/fuma-docs/content/docs/components/stack.mdx
  packages/fuma-docs/snippets/checkbox-basic/CheckboxBasic.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/stitches-registry.tsx
Due: none

Rebuilt the icons library page, some other small alterations in components and title changes
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/assets/images/Play2.png
  packages/fuma-docs/src/component/component-home/skeletons/circle-loader.tsx
  packages/fuma-docs/src/component/component-home/skeletons/line-loader.tsx
  packages/fuma-docs/src/component/icons/customization.tsx
Due: none

Rebuilt the Theming page completely by changing the mdx file and then altering the components to native html elements for consistency
  packages/fuma-docs/content/docs/getting-started/theming.mdx
  packages/fuma-docs/snippets/theming-basic/ThemingBasic.tsx
  packages/fuma-docs/src/component/theming/borders-and-radii.tsx
  packages/fuma-docs/src/component/theming/colors.tsx
  packages/fuma-docs/src/component/theming/font-sizes.tsx
  packages/fuma-docs/src/component/theming/font-weights.tsx
  packages/fuma-docs/src/component/theming/line-heights.tsx
  packages/fuma-docs/src/component/theming/sizes.tsx
  packages/fuma-docs/src/component/theming/spaces.tsx
Due: none

altered some editor files, redesigned the landing page and some other small changes
  packages/fuma-docs/content/docs/getting-started/nextjs.mdx
  packages/fuma-docs/content/docs/getting-started/theming.mdx
  packages/fuma-docs/snippets/button-variants-icons/ButtonVariants.tsx
  packages/fuma-docs/snippets/editor-feature-emoji/EditorFeatureEmoji.tsx
  packages/fuma-docs/snippets/editor-feature-hashtags/EditorFeatureHashtags.tsx
  packages/fuma-docs/snippets/editor-feature-mentions/EditorFeatureMentions.tsx
  packages/fuma-docs/snippets/editor-toolbar/ToolbarBasic.tsx
  packages/fuma-docs/snippets/editor-toolbar/ToolbarCustomization.tsx
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/examples/chat.tsx
  packages/fuma-docs/src/app/(home)/examples/loginForm.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/app/docs/[[...slug]]/page.tsx
Due: none

changed the names of the tab components
  packages/fuma-docs/src/app/(home)/examples/Features.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
Due: none

fix: Added an internal buttonAs prop documentation to ButtonBaseProps interface
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix: Update checkbox hover styles
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix: Update hover styles for default
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix: Update checkbox styles to use borderColor
  packages/react-components/src/checkbox/checkbox.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update underline variant option from 'none' to 'never' in StyledAnchor component
  packages/react-components/src/link/link.tsx
  packages/react-components/src/link/stories/link.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor sticky variant styles for Thead component
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix search value clearing and handle undefined item in breadcrumb
  packages/react-components/src/cascader/cascader-content.tsx
  packages/react-components/src/cascader/cascader-searchlist.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix breadcrumb generation for undefined search results
  packages/react-components/src/cascader/cascader-searchlist.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove cursor styles from Tr and Thead components
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor table story to use dynamic data and improve template structure
  packages/react-components/src/table/stories/table.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename Features.tsx to features.tsx
  packages/fuma-docs/src/app/(home)/examples/features.tsx
Due: none

updated some of the example componenets, used memo, handled static data and hooks seperately
  packages/fuma-docs/src/app/(home)/constants/data.ts
  packages/fuma-docs/src/app/(home)/constants/index.ts
  packages/fuma-docs/src/app/(home)/examples/accounts.tsx
  packages/fuma-docs/src/app/(home)/examples/conversation.tsx
  packages/fuma-docs/src/app/(home)/examples/cookieCard.tsx
  packages/fuma-docs/src/app/(home)/examples/dashboard.tsx
  packages/fuma-docs/src/app/(home)/examples/emailAgent.tsx
  packages/fuma-docs/src/app/(home)/examples/employeeCard.tsx
  packages/fuma-docs/src/app/(home)/examples/features.tsx
  packages/fuma-docs/src/app/(home)/examples/footer.tsx
  packages/fuma-docs/src/app/(home)/examples/intellisense.tsx
  packages/fuma-docs/src/app/(home)/examples/loginForm.tsx
  packages/fuma-docs/src/app/(home)/examples/onBoarding.tsx
  packages/fuma-docs/src/app/(home)/examples/playground.tsx
  packages/fuma-docs/src/app/(home)/examples/productCard.tsx
  packages/fuma-docs/src/app/(home)/examples/redeemers.tsx
  packages/fuma-docs/src/app/(home)/examples/scoreCard.tsx
  packages/fuma-docs/src/app/(home)/examples/settings.tsx
  packages/fuma-docs/src/app/(home)/examples/smallCards.tsx
  packages/fuma-docs/src/app/(home)/examples/testimonials.tsx
  packages/fuma-docs/src/app/(home)/hooks/index.ts
  packages/fuma-docs/src/app/(home)/hooks/useTabIndicator.ts
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/(home)/shared/CustomSlider.tsx
  packages/fuma-docs/src/app/(home)/shared/MenuItem.tsx
  packages/fuma-docs/src/app/(home)/shared/index.ts
  packages/fuma-docs/src/app/(home)/styles.css
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/app/stitches-registry.tsx
  packages/fuma-docs/src/assets/images/bell.svg
  packages/fuma-docs/src/assets/images/google-signIn.png
  packages/fuma-docs/src/assets/images/login-fl-bg.png
  packages/fuma-docs/src/assets/images/points.png
Due: none

altered mdx files for initial single playground load, worked on accessibility throughout the files and modified two react components accordion , tabs for focus visibility
  packages/fuma-docs/content/docs/components/accordion.mdx
  packages/fuma-docs/content/docs/components/alert.mdx
  packages/fuma-docs/content/docs/components/avatar.mdx
  packages/fuma-docs/content/docs/components/box.mdx
  packages/fuma-docs/content/docs/components/button.mdx
  packages/fuma-docs/content/docs/components/calendar-range.mdx
  packages/fuma-docs/content/docs/components/calendar.mdx
  packages/fuma-docs/content/docs/components/cascader.mdx
  packages/fuma-docs/content/docs/components/checkbox.mdx
  packages/fuma-docs/content/docs/components/chip.mdx
  packages/fuma-docs/content/docs/components/datepicker.mdx
  packages/fuma-docs/content/docs/components/dropdown.mdx
  packages/fuma-docs/content/docs/components/form-input.mdx
  packages/fuma-docs/content/docs/components/input.mdx
  packages/fuma-docs/content/docs/components/pagination.mdx
  packages/fuma-docs/content/docs/components/select.mdx
  packages/fuma-docs/content/docs/components/slider.mdx
  packages/fuma-docs/content/docs/components/split-button.mdx
  packages/fuma-docs/content/docs/components/stepper.mdx
  packages/fuma-docs/content/docs/components/textarea.mdx
  packages/fuma-docs/content/docs/components/toast.mdx
  packages/fuma-docs/content/docs/getting-started/index.mdx
  packages/fuma-docs/src/app/(home)/examples/emailAgent.tsx
  packages/fuma-docs/src/app/(home)/examples/features.tsx
  packages/fuma-docs/src/app/(home)/examples/intellisense.tsx
  packages/fuma-docs/src/app/(home)/examples/onBoarding.tsx
  packages/fuma-docs/src/app/(home)/examples/playground.tsx
  packages/fuma-docs/src/app/(home)/examples/productCard.tsx
  packages/fuma-docs/src/app/(home)/examples/settings.tsx
  packages/fuma-docs/src/app/(home)/examples/testimonials.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/component/component-home/index.tsx
  packages/fuma-docs/src/component/icons/customization.tsx
  packages/fuma-docs/src/component/playground/playground.css
  packages/fuma-docs/src/component/playground/playground.tsx
  packages/fuma-docs/src/component/upgrade-guide/upgrade-guide.tsx
  packages/react-components/src/accordion/accordion.tsx
  packages/react-components/src/tabs/tabs.tsx
Due: Security Scan for React Components, Lint, Test and Build

handled some modifications in accessibility features
  packages/fuma-docs/src/app/(home)/examples/features.tsx
  packages/fuma-docs/src/app/(home)/examples/intellisense.tsx
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/react-components/src/accordion/accordion.tsx
  packages/react-components/src/tabs/tabs.tsx
Due: Security Scan for React Components, Lint, Test and Build

added a arrow icon and reverted some accessibility overrides
  packages/fuma-docs/src/app/(home)/examples/intellisense.tsx
  packages/fuma-docs/src/app/(home)/examples/playground.tsx
  packages/fuma-docs/src/app/global.css
  packages/fuma-docs/src/assets/images/arrow-icon.png
Due: none

altered the getting started, theming pages for better user experience
  packages/fuma-docs/content/docs/editor/index.mdx
  packages/fuma-docs/content/docs/getting-started/index.mdx
  packages/fuma-docs/content/docs/getting-started/theming.mdx
  packages/fuma-docs/snippets/getting-started/GettingStarted.tsx
  packages/fuma-docs/snippets/getting-started/meta.json
  packages/fuma-docs/src/app/(home)/examples/testimonials.tsx
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

altered the backdrop styles of the search popup
  packages/fuma-docs/src/app/global.css
Due: none
