Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Bump version
  packages/react-components/package.json
Due: none

typo fix
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build

optimized fix
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

type added
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

cleanup
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhanced type definitions for colors with opacity
  packages/react-components/src/stitches.config.ts
Due: Security Scan for React Components, Lint, Test and Build

Add new variants and more controls to chip
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update jest to accept absolute import paths
  packages/react-components/jest.config.json
Due: none

Add more test cases to chip
  packages/react-components/src/chip/chip.tsx
  packages/react-components/src/chip/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add more configs to chip storybook
  packages/react-components/src/chip/stories/chip.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix issues with padding
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update documentation for chip
  packages/docs/docs/components/chip.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/chip-selectable.mdx
  packages/docs/static/doc-snippets/chip-side-elements.mdx
Due: Lint, Test and Build

homepage url updated
  packages/react-components/package.json
Due: none

Add callback functions for day, month, and year select in calendar
  packages/docs/docs/components/calendar-range.mdx
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/datepicker.mdx
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add emoji feature to editor
  packages/react-components/src/editor/nodes/emoji.ts
  packages/react-components/src/editor/nodes/index.ts
  packages/react-components/src/editor/plugins/emoji/emoji-list.ts
  packages/react-components/src/editor/plugins/emoji/index.tsx
  packages/react-components/src/editor/plugins/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add docs for editor emoji
  packages/docs/docs/components/editor/features/emoji.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/editor-feature-emoji.mdx
Due: Lint, Test and Build

Update calendar docs to include footer related props
  packages/docs/docs/components/calendar-range.mdx
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build

Add css customization prop to calendar components
  packages/docs/docs/components/calendar-range.mdx
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/datepicker.mdx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix low lineheight causing line overlap in docs page
  packages/docs/src/components/theming/font-sizes.tsx
Due: Lint, Test and Build

Update path alias in jest config
  packages/react-components/jest.config.json
Due: none

Update spacings and colors for closable chips
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update size value in story
  packages/react-components/src/chip/stories/chip.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

alert border color updated for success variant
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed duplicate toast viewport
  packages/react-components/src/toast/toastr.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update padding for chips with left element and right element addons, rename and move classnames to constant
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add stories for left element and right element for chip
  packages/react-components/src/chip/stories/chip.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update link typings and base element
  packages/react-components/src/link/link.tsx
  yarn.lock
Due: Security Scan for React Components, Lint, Test and Build

Update test cases to include asChild
  packages/react-components/src/link/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update padding and colors
  packages/react-components/src/chip/chip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add info and topRightElement prop to Select component
  packages/react-components/src/select/select.tsx
  packages/react-components/src/select/stories/select.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update docs to include info, counterElement and top right element
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/select.mdx
  packages/docs/docs/components/textarea.mdx
Due: Lint, Test and Build

Add props to control whether actions button in dialogs close the dialog
  packages/react-components/src/dialog/dialogs-manager/default-alert.tsx
  packages/react-components/src/dialog/dialogs-manager/default-confirm.tsx
  packages/react-components/src/dialog/dialogs-manager/default-modal.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update docs to include props of default dialogs provided in dialogs manager
  packages/docs/docs/components/dialogs-manager.mdx
Due: Lint, Test and Build

Add more variant supports for split button
  packages/react-components/src/button/split-button.tsx
  packages/react-components/src/button/stories/split-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add rounded variant to icon button
  packages/docs/docs/components/icon-button.mdx
  packages/react-components/src/button/icon-button.tsx
  packages/react-components/src/button/stories/icon-button.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix bugs, update classnames used in button
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/side-element.tsx
  packages/react-components/src/button/utils.ts
Due: Security Scan for React Components, Lint, Test and Build

Wrap th with tr
  packages/docs/static/doc-snippets/table.mdx
Due: Lint, Test and Build

Add borderPlacement prop to table and related components
  packages/react-components/src/table/stories/table.stories.tsx
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update table docs to include borderPlacement prop
  packages/docs/docs/components/table.mdx
Due: Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
