Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Bump version
  packages/react-components/package.json
Due: none

Update avatar radix pkg to fix flicker issue
  packages/react-components/package.json
Due: none

add yarn.lock
  yarn.lock
Due: none

Altered the Tooltip Arrow placement and added size another variant now totally 3 varints
  packages/react-components/src/tooltip/stories/tooltip.stories.tsx
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

update tooltip dependency
  packages/react-components/package.json
  yarn.lock
Due: none

changed the usage of theme tokens wherever possible
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

fumadocs initial setup
  packages/react-components/src/accordion/accordion.tsx
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/stories/calendar-range.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix: Export CalendarProps type alongside Calendar in the calendar index file
  packages/react-components/src/calendar/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

handled the eslint errors and fixed
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

altered the left/right arrow placement and revised some other changes
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated y offset slide for hover card
  packages/react-components/src/hover-card/hover-card.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated y offset slide for popover
  packages/react-components/src/popover/popover.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated y offset slide for tooltip
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

all components alteration completed
  packages/fuma-docs/snippets/switch-basic/SwitchBasic.tsx
  packages/fuma-docs/snippets/switch-basic/SwitchIcons.tsx
  packages/fuma-docs/snippets/switch-basic/SwitchStates.tsx
  packages/fuma-docs/snippets/switch-basic/component.tsx
  packages/fuma-docs/snippets/switch-basic/meta.json
  packages/fuma-docs/snippets/table-basic/TableBasic.tsx
  packages/fuma-docs/snippets/table-basic/TableWithActiveRow.tsx
  packages/fuma-docs/snippets/table-basic/meta.json
  packages/fuma-docs/snippets/tabs-basic/TabsBasic.tsx
  packages/fuma-docs/snippets/tabs-basic/VerticalTabs.tsx
  packages/fuma-docs/snippets/tabs-basic/meta.json
  packages/fuma-docs/snippets/text-basic/TextBasic.tsx
  packages/fuma-docs/snippets/text-basic/TextTruncate.tsx
  packages/fuma-docs/snippets/text-basic/meta.json
  packages/fuma-docs/snippets/textarea-basic/TextareaBasic.tsx
  packages/fuma-docs/snippets/textarea-basic/meta.json
  packages/fuma-docs/snippets/textarea-variants/TextareaAllVariants.tsx
  packages/fuma-docs/snippets/textarea-variants/TextareaFeatures.tsx
  packages/fuma-docs/snippets/textarea-variants/meta.json
  packages/fuma-docs/snippets/timepicker-basic/TimepickerBasic.tsx
  packages/fuma-docs/snippets/timepicker-basic/meta.json
  packages/fuma-docs/snippets/toast-basic/ToastBasic.tsx
  packages/fuma-docs/snippets/toast-basic/meta.json
  packages/fuma-docs/snippets/toast-variants/ToastVariants.tsx
  packages/fuma-docs/snippets/toast-variants/ToastWithActions.tsx
  packages/fuma-docs/snippets/toast-variants/meta.json
  packages/fuma-docs/snippets/tooltip-basic/TooltipBasic.tsx
  packages/fuma-docs/snippets/tooltip-basic/meta.json
Due: none

Moved window key listener to portal root for preventing drawer close when escape key is pressed on outside components like modals
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add focus trap
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

Separate logic into different functions. Prevent drawer close when focus is on a trigger that has opened an item (select, dropdown etc)
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

Ensure focusable elements are not disabled during tab locking
  packages/react-components/src/drawer/drawer.tsx
Due: Security Scan for React Components, Lint, Test and Build

alteration and upgrade guide page
  packages/fuma-docs/content/docs/02-theming.mdx
  packages/fuma-docs/content/docs/components/index.mdx
  packages/fuma-docs/content/docs/index.mdx
  packages/fuma-docs/content/docs/upgrade-guide.mdx
  packages/fuma-docs/snippets/theming-basic/ThemingBasic.tsx
  packages/fuma-docs/snippets/theming-basic/meta.json
  packages/fuma-docs/src/app/(home)/page.tsx
  packages/fuma-docs/src/app/docs/[[...slug]]/page.tsx
  packages/fuma-docs/src/app/layout.config.tsx
  packages/fuma-docs/src/component/component-home/index.tsx
  packages/fuma-docs/src/component/icons/all-icons.tsx
  packages/fuma-docs/src/component/icons/styles.css
  packages/fuma-docs/src/component/theming/borders-and-radii.tsx
  packages/fuma-docs/src/component/theming/font-sizes.tsx
  packages/fuma-docs/src/component/theming/font-weights.tsx
  packages/fuma-docs/src/component/theming/line-heights.tsx
  packages/fuma-docs/src/component/theming/sizes.tsx
  packages/fuma-docs/src/component/theming/spaces.tsx
  packages/fuma-docs/src/component/upgrade-guide/constants.ts
  packages/fuma-docs/src/component/upgrade-guide/style.css
  packages/fuma-docs/src/component/upgrade-guide/upgrade-guide.tsx
  packages/fuma-docs/src/lib/utils.ts
Due: none

Added tooltip size to docs
  packages/docs/docs/components/tooltip.mdx
Due: Lint, Test and Build

Removed max width from variants and applied it globally
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Clear selected node on clicking clear button
  packages/react-components/src/cascader/cascader-content.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update hover backgroundColor
  packages/react-components/src/cascader/cascader-list-item.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add creatable option to cascader
  packages/react-components/src/cascader/cascader-node.ts
  packages/react-components/src/cascader/cascader-searchlist-item.tsx
  packages/react-components/src/cascader/cascader-searchlist.tsx
  packages/react-components/src/cascader/cascader.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add creatable cascader story
  packages/react-components/src/cascader/stories/cascader.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated documentation for cascader
  packages/docs/docs/components/cascader.mdx
Due: Lint, Test and Build

Remove unused dependency
  packages/react-components/package.json
  yarn.lock
Due: none

Externalize all external packages
  packages/react-components/rollup.config.base.js
  packages/react-editor/rollup.config.base.cjs
Due: none

creating main.yaml file for OIDC connect through AWS
  .github/workflows/main.yml
Due: none

Delete .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

Update docs-deployment.yaml
  .github/workflows/docs-deployment.yaml
Due: none

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
