Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Bump version
  packages/react-components/package.json
Due: none

Change playground link title, update link styles
  packages/docs/docs/components/dialogs-manager.mdx
  packages/docs/docs/components/drawer.mdx
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/pagination.mdx
  packages/docs/docs/components/popover.mdx
  packages/docs/src/components/common/playground-link.tsx
  packages/docs/src/theme/Playground/index.js
Due: Lint, Test and Build

Change styling of 'Open in playground' link
  packages/docs/src/components/common/playground-link.tsx
  packages/docs/src/theme/Playground/styles.module.css
Due: Lint, Test and Build

Separate dialogs manager snippets into individual items
  packages/docs/docs/components/dialogs-manager.mdx
  packages/docs/static/doc-snippets/dialogs-manager-confirm.mdx
  packages/docs/static/doc-snippets/dialogs-manager-modal.mdx
Due: Lint, Test and Build

Use play prop to add open in playground link
  packages/docs/docs/components/drawer.mdx
  packages/docs/docs/components/pagination.mdx
Due: Lint, Test and Build

Add missing doc snippets, update playground link methods
  packages/docs/docs/components/box.mdx
  packages/docs/docs/components/flex.mdx
  packages/docs/docs/components/form-helper-text.mdx
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/form-label.mdx
  packages/docs/docs/components/stack.mdx
  packages/docs/docs/components/text.mdx
  packages/docs/static/doc-snippets/box.mdx
  packages/docs/static/doc-snippets/flex.mdx
  packages/docs/static/doc-snippets/form-helper-text-with-input.mdx
  packages/docs/static/doc-snippets/form-helper-text.mdx
  packages/docs/static/doc-snippets/form-label.mdx
  packages/docs/static/doc-snippets/stack-dividers.mdx
  packages/docs/static/doc-snippets/stack-responsive.mdx
  packages/docs/static/doc-snippets/stack.mdx
  packages/docs/static/doc-snippets/text.mdx
Due: Lint, Test and Build

Show empty Content component when content prop is falsy to fix open state issues
  packages/react-components/src/tooltip/tooltip.tsx
Due: Security Scan for React Components, Lint, Test and Build

Allow value to be passed to radio group component, fix type issues
  packages/react-components/src/radio/radio.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update radix packages
  packages/react-components/package.json
  yarn.lock
Due: none

Update env file for docs deployment
  .github/workflows/docs-deployment.yaml
Due: none

Add type prop to accordion
  packages/docs/static/doc-snippets/accordion.mdx
Due: Lint, Test and Build

Fix range calendar size issue for md variant
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-utils.ts
Due: Security Scan for React Components, Lint, Test and Build

added lock
  yarn.lock
Due: none

Create ConvertSelectionToLinkOnPastePlugin
  packages/react-components/src/editor/plugins/link/convert-selection-on-paste.tsx
  packages/react-components/src/editor/plugins/link/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add docs for ConvertSelectionToLinkOnPastePlugin
  packages/docs/docs/components/editor/features/link.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/editor-feature-convert-pasted-text-to-link.mdx
Due: Lint, Test and Build

Fix key missing issue
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix border radius and size mismatch for dialog link editor
  packages/react-components/src/editor/components/dialog-link-editor/link-editor-dialog.tsx
Due: Security Scan for React Components, Lint, Test and Build

Create link when selection is null, fix selection issues with link
  packages/react-components/src/editor/components/toolbar/tools/link.tsx
Due: Security Scan for React Components, Lint, Test and Build

Theme Fix
  packages/react-components/src/theme-provider/theme-provider.tsx
Due: Security Scan for React Components, Lint, Test and Build

Hide 'use client' warnings
  packages/react-components/rollup.config.base.js
Due: none

feat: removed live editor - table || added playground link
  packages/docs/docs/components/table.mdx
Due: Lint, Test and Build

updated border radius of alert based on size, corrected spacing between text and icons in alert, updated line height for alert variants, updated story code with AlertDescription
  packages/docs/docs/components/alert.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/react-components/src/alert/alert.tsx
Due: Security Scan for React Components, Lint, Test and Build

updated alert component snippet
  packages/docs/static/doc-snippets/alert.mdx
Due: Lint, Test and Build

added active variant for Tr
  packages/react-components/src/table/table.tsx
Due: Security Scan for React Components, Lint, Test and Build

feat 🚀: added active state for a row by default for example
  packages/docs/static/doc-snippets/table.mdx
Due: Lint, Test and Build

updated table snippet component
  packages/docs/docs/components/table.mdx
  packages/docs/static/doc-snippets/table.mdx
Due: Lint, Test and Build

Create and / or shift focus to empty space after hashtag or mention node is created
  packages/react-components/src/editor/plugins/hashtag/index.tsx
  packages/react-components/src/editor/plugins/mentions/index.tsx
  packages/react-components/src/editor/utils/use-node-focus.ts
Due: Security Scan for React Components, Lint, Test and Build

Fix re-render issue with slider when custom components are provided
  packages/react-components/src/slider/slider.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

prettified
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated input styles
  packages/react-components/src/input/input.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add info element, counter side element
  packages/react-components/src/form-label/form-label-counter.tsx
  packages/react-components/src/form-label/form-label.tsx
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/input/stories/form-input.stories.tsx
  packages/react-components/src/textarea/stories/textarea.stories.tsx
  packages/react-components/src/textarea/tests/index.test.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

Updated colors
  packages/react-components/src/input/input.tsx
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

portalTarget added
  packages/react-components/src/datepicker/datepicker.tsx
Due: Security Scan for React Components, Lint, Test and Build

docs updated
  packages/docs/docs/components/datepicker.mdx
Due: Lint, Test and Build
