Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Add props to customize format tool
  packages/react-components/src/editor/components/toolbar/toolbar.tsx
  packages/react-components/src/editor/components/toolbar/tools/format.tsx
Due: Security Scan for React Components, Lint, Test and Build

Export AvatarProps type
  packages/react-components/src/avatar/avatar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-components/package.json
Due: none

Fix Calendar props, rename value variable
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Calendar Time TimeZone picker size prop fix
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

added the compact mode calendar range picker
  packages/react-components/src/calendar/calendar-range.tsx
Due: Security Scan for React Components, Lint, Test and Build

fix: convert the calendar-range event callbacks to dynamic dateType. (start | end)
  packages/react-components/src/calendar/calendar-range.tsx
Due: Security Scan for React Components, Lint, Test and Build

dialog snippet updated
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/doc-snippets/dialog.mdx
Due: Lint, Test and Build

docs: added the compact prop in calendar range
  packages/docs/docs/components/calendar-range.mdx
Due: Lint, Test and Build

Cascader Dropdown
  packages/react-components/src/cascader-dropdown/cascader-dropdown-breadcrumb.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-item.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-provider.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-root-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-input.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/cascader-dropdown/index.ts
  packages/react-components/src/cascader-dropdown/stories/cascader-dropdown.stories.tsx
  packages/react-components/src/cascader-dropdown/styled/StyledItem.tsx
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/cascader-dropdown/tests/index.test.ts
  packages/react-components/src/cascader-dropdown/use-value.ts
Due: Security Scan for React Components, Lint, Test and Build

v-stack should have css prop
  packages/react-components/src/stack/stack.tsx
Due: Security Scan for React Components, Lint, Test and Build

removed the unnecessary svg code
  packages/react-icons/src/icons/strikethrough.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Filter Pill, Filter Value Dropdown
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-item.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-root-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-search-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-content.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-provider.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-value-selector.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown.tsx
  packages/react-components/src/filter/filter-value-dropdown/helpers/filter-value-dropdown-constants.ts
  packages/react-components/src/filter/filter-value-dropdown/use-value.ts
  packages/react-components/src/filter/index.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
Due: Security Scan for React Components, Lint, Test and Build

Filter Pill, Value Dropdown
  packages/react-components/src/cascader-dropdown/cascader-dropdown-breadcrumb.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-content.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-provider.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-value-selector.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown.tsx
  packages/react-components/src/filter/filter-value-dropdown/helpers/filter-value-dropdown-constants.ts
  packages/react-components/src/filter/filter-value-dropdown/use-value.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
Due: Security Scan for React Components, Lint, Test and Build

Use Ul element instead of Popover for listing items in base dropdown
  packages/react-components/src/editor/components/base-dropdown/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add zIndex to dropdown
  packages/react-components/src/editor/components/base-dropdown/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor dropdown menu rendering to use styled components and remove Popover
  packages/react-editor/src/components/base-dropdown/index.tsx
Due: none

Add tests for link validation, editing, and deletion in Dialog Link Editor
  packages/react-editor/src/specs/dialog-link-editor.spec.tsx
Due: none

Update package version and description for React editor
  packages/react-editor/package.json
Due: none

Rename prettierrc.js to cjs
  packages/react-editor/.prettierrc.cjs
Due: none

Update import paths in floating-toolbar component to use absolute paths
  packages/react-editor/src/components/floating-toolbar/floating-toolbar.tsx
Due: none

Prettify code
  packages/react-editor/src/specs/dialog-link-editor.spec.tsx
Due: none

Add data attributes for toolbar tool buttons
  packages/react-editor/src/components/toolbar/tools/bold.tsx
  packages/react-editor/src/components/toolbar/tools/code-block.tsx
  packages/react-editor/src/components/toolbar/tools/code.tsx
  packages/react-editor/src/components/toolbar/tools/format.tsx
  packages/react-editor/src/components/toolbar/tools/italic.tsx
  packages/react-editor/src/components/toolbar/tools/link.tsx
  packages/react-editor/src/components/toolbar/tools/ordered-list.tsx
  packages/react-editor/src/components/toolbar/tools/text-align.tsx
  packages/react-editor/src/components/toolbar/tools/underline.tsx
  packages/react-editor/src/components/toolbar/tools/unordered-list.tsx
Due: none

Add prefixClassName utility to floating-toolbar component
  packages/react-editor/src/components/floating-toolbar/floating-toolbar.tsx
Due: none

Add tests for floating toolbar and custom heading tool component
  packages/react-editor/src/specs/floating-toolbar/floating-toolbar.spec.tsx
  packages/react-editor/src/specs/floating-toolbar/heading-tool.tsx
Due: none

Add classname to toolbar container
  packages/react-editor/src/components/toolbar/toolbar.tsx
Due: none

Add toolbar spec
  packages/react-editor/src/specs/toolbar/toolbar.spec.tsx
Due: none

Add testcases for toolbar
  packages/react-editor/src/specs/toolbar/custom-tools.tsx
  packages/react-editor/src/specs/toolbar/toolbar.spec.tsx
Due: none

Add test case for emoji node
  packages/react-editor/src/specs/emoji.spec.tsx
Due: none

Add test cases for hashtag and mentions
  packages/react-editor/src/specs/hashtag.spec.tsx
  packages/react-editor/src/specs/mentions.spec.tsx
Due: none

Remove concurrency and add cleanup function
  packages/react-editor/src/specs/base-dropdown/base-dropdown.spec.tsx
  packages/react-editor/src/specs/dialog-link-editor.spec.tsx
  packages/react-editor/src/specs/editor.spec.tsx
  packages/react-editor/src/specs/emoji.spec.tsx
  packages/react-editor/src/specs/floating-toolbar/floating-toolbar.spec.tsx
  packages/react-editor/src/specs/hashtag.spec.tsx
  packages/react-editor/src/specs/mentions.spec.tsx
  packages/react-editor/src/specs/toolbar/toolbar.spec.tsx
Due: none

Add github action for editor test
  .github/workflows/editor-test-ci.yaml
Due: none

Fix directory change for Playwright test execution in CI workflow
  .github/workflows/editor-test-ci.yaml
Due: none

Fix type issues
  packages/react-editor/src/components/floating-toolbar/floating-toolbar.tsx
  packages/react-editor/src/nodes/emoji.ts
Due: none
