Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Security Scan for React Icons:
  script:
  - cd packages/react-icons
  - pipe: atlassian/git-secrets-scan:0.5.1

Security Scan for React Components:
  script:
  - cd packages/react-components
  - pipe: atlassian/git-secrets-scan:0.5.1

Lint, Test and Build:
  script:
  - yarn
  - npx lerna run eslint --scope=@sparrowengg/twigs-react-icons
  - yarn build:icons
  - npx lerna run eslint --scope=@sparrowengg/twigs-react
  - npx lerna run test
  - yarn build:components
  - yarn build:docs
  caches:
  - node
  - nodemodules
  - componentsnodemodules
  - iconsnodemodules
  ...

Fix eslint issues
  packages/react-components/src/editor/nodes/hashtag.tsx
  packages/react-components/src/editor/nodes/kudos.tsx
  packages/react-components/src/editor/nodes/mention.tsx
  packages/react-components/src/editor/nodes/variables.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix issues with eslint alias
  packages/react-components/.eslintrc.json
Due: none

Added text alignment tool
  packages/react-components/src/editor/plugins/toolbar-context/index.tsx
  packages/react-components/src/editor/plugins/toolbar-context/store.ts
  packages/react-components/src/editor/plugins/toolbar-context/utils.ts
  packages/react-components/src/editor/plugins/toolbar/tools/index.ts
  packages/react-components/src/editor/plugins/toolbar/tools/text-align.tsx
Due: Security Scan for React Components, Lint, Test and Build

Added gap to toolbar
  packages/react-components/src/editor/plugins/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version for editor enhancement
  packages/react-components/package.json
Due: none

Allow editor area container customization using props, add styles to placeholder, export EditorArea component
  packages/react-components/src/editor/components/editor-area.tsx
  packages/react-components/src/editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update findReactChildByType to allow string based comparison, update logics for finding the element
  packages/react-components/src/editor/utils/find-react-child.ts
Due: Security Scan for React Components, Lint, Test and Build

Replace lexical in tagname to twigs, remove default styles
  packages/react-components/src/editor/nodes/hashtag.tsx
  packages/react-components/src/editor/nodes/kudos.tsx
  packages/react-components/src/editor/nodes/mention.tsx
  packages/react-components/src/editor/nodes/variables.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add textAlign to default tool list
  packages/react-components/src/editor/plugins/toolbar/toolbar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename insertHtml to setHtml
  packages/react-components/src/editor/plugins/data-management-plugin/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Restructure component and rename types and functions more to be more approppriate
  packages/react-components/src/editor/plugins/base-dropdown/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Separate Content and Feature into different components and remove EditorFeatures parent component
  packages/react-components/src/editor/features/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add new editor customization props, fix issues with customFeatures and editor content
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Export editor area
  packages/react-components/src/editor/components/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Eslint fixes
  packages/react-components/rollup.config.base.js
  packages/react-components/rollup.config.dev.js
Due: none

Add js to extension ignore
  packages/react-components/.eslintrc.json
Due: none

Update readme to include build step
  README.md
Due: none

Updated docs to include features and toolbar info
  packages/docs/docs/editor/features.mdx
  packages/docs/docs/editor/setup.mdx
  packages/docs/docs/editor/toolbar.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

Add hint to mentions demo
  packages/docs/docs/editor/features.mdx
Due: Lint, Test and Build

Change removing features to configuring features
  packages/docs/docs/editor/features.mdx
Due: Lint, Test and Build

Use flex props instead of css styling
  packages/docs/docs/editor/toolbar.mdx
Due: Lint, Test and Build

Use singular case for default features
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Spread editorContainerProps first so that existing CSS will not get overridden
  packages/react-components/src/editor/components/editor-area.tsx
Due: Security Scan for React Components, Lint, Test and Build

Restructure editor component, remove toolbar, floating toolbar and editor area. Custom features can be added directly as children now
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add strikethrough icon
  packages/react-icons/src/icons/strikethrough.tsx
Due: Security Scan for React Icons, Lint, Test and Build

Remove features
  packages/react-components/src/editor/features/index.tsx
  packages/react-components/src/editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename EditorArea to RichEditor and move it to components
  packages/react-components/src/editor/components/rich-editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove unused find-react-child util
  packages/react-components/src/editor/utils/find-react-child.ts
Due: Security Scan for React Components, Lint, Test and Build

Move non plugin components from plugin directory to components directory. Rename files and functions to be more precise
  packages/react-components/src/editor/components/base-dropdown/index.tsx
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
  packages/react-components/src/editor/components/dialog-link-editor/link-editor-dialog.tsx
  packages/react-components/src/editor/components/dialog-link-editor/link-tooltip.tsx
  packages/react-components/src/editor/components/floating-link-editor/index.tsx
  packages/react-components/src/editor/components/floating-toolbar/floating-toolbar.tsx
  packages/react-components/src/editor/components/floating-toolbar/index.tsx
  packages/react-components/src/editor/components/floating-toolbar/utils.ts
  packages/react-components/src/editor/components/toolbar-context/index.tsx
  packages/react-components/src/editor/components/toolbar-context/store.tsx
  packages/react-components/src/editor/components/toolbar-context/utils.ts
  packages/react-components/src/editor/components/toolbar/index.tsx
  packages/react-components/src/editor/components/toolbar/toolbar.tsx
  packages/react-components/src/editor/components/toolbar/tools/bold.tsx
  packages/react-components/src/editor/components/toolbar/tools/code-block.tsx
  packages/react-components/src/editor/components/toolbar/tools/code.tsx
  packages/react-components/src/editor/components/toolbar/tools/commons.ts
  packages/react-components/src/editor/components/toolbar/tools/format.tsx
  packages/react-components/src/editor/components/toolbar/tools/index.ts
  packages/react-components/src/editor/components/toolbar/tools/italic.tsx
  packages/react-components/src/editor/components/toolbar/tools/link.tsx
  packages/react-components/src/editor/components/toolbar/tools/ordered-list.tsx
  packages/react-components/src/editor/components/toolbar/tools/text-align.tsx
  packages/react-components/src/editor/components/toolbar/tools/underline.tsx
  packages/react-components/src/editor/components/toolbar/tools/unordered-list.tsx
  packages/react-components/src/editor/plugins/toolbar-context/store.ts
Due: Security Scan for React Components, Lint, Test and Build

Remove DialogLinkEditorPlugin
  packages/react-components/src/editor/editor.tsx
Due: Security Scan for React Components, Lint, Test and Build

Remove exports for moved files
  packages/react-components/src/editor/plugins/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use updated path and name for imports
  packages/react-components/src/editor/plugins/hashtag/index.tsx
  packages/react-components/src/editor/plugins/kudos/index.tsx
  packages/react-components/src/editor/plugins/mentions/index.tsx
  packages/react-components/src/editor/plugins/variables/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Export moved components from directory
  packages/react-components/src/editor/components/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update docs to mention new api changes
  packages/docs/docs/editor/features.mdx
  packages/docs/docs/editor/setup.mdx
  packages/docs/docs/editor/toolbar.mdx
Due: Lint, Test and Build

Remove Plugin postfix from name
  packages/react-components/src/editor/components/dialog-link-editor/index.tsx
Due: Security Scan for React Components, Lint, Test and Build

Use updated names for components
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

Update storybook to include new changes in editor
  packages/react-components/src/editor/stories/editor.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Show DialogLinkEditor in docs, show tools customization in EditorToolbar
  packages/docs/docs/editor/features.mdx
  packages/docs/docs/editor/setup.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: Lint, Test and Build

Update toolbar doc to mention api change
  packages/docs/docs/editor/toolbar.mdx
Due: Lint, Test and Build

Mention dependency for link in toolbar docs
  packages/docs/docs/editor/toolbar.mdx
Due: Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**
