Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run eslint, Build Icons, Test, Build Components

Run eslint:
  script:
  - cd packages/react-components
  - npm install eslint
  - npx eslint .
  caches:
  - node

Build Icons:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run build --scope=@sparrowengg/twigs-react-icons

Test:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run test

Build Components:
  caches:
  - node
  script:
  - npm install -g lerna
  - yarn install
  - lerna run build --scope=@sparrowengg/twigs-react

base structure for loader
  packages/react-components/src/button/button-loader.tsx
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/stories/button.stories.tsx
  packages/react-components/src/loaders/spinner.tsx
  packages/react-components/src/loaders/stories/loader.stories.tsx
Due: Run eslint, Test, Build Components

corrected accordion arrow rotate
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

accordion arrow rotate changes
  packages/react-components/CHANGELOG.md
  packages/react-components/src/accordion/accordion.tsx
Due: Run eslint, Test, Build Components

improved ghost button, removed tooltip opacity
  packages/react-components/package.json
  packages/react-components/src/button/button.tsx
  packages/react-components/src/button/stories/button.stories.tsx
  packages/react-components/src/button/stories/icon-button.stories.tsx
  packages/react-components/src/tooltip/tooltip.tsx
  packages/react-components/stitches.config.ts
Due: Run eslint, Test, Build Components

updated changelog
  packages/react-components/CHANGELOG.md
Due: Run eslint, Test, Build Components

added calendar disabled day styles
  packages/react-components/package.json
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/stories/calendar-range.stories.tsx
  packages/react-components/src/calendar/stories/calendar.stories.tsx
Due: Run eslint, Test, Build Components

modified label for radio and checkbox
  packages/react-components/package.json
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/radio/radio.tsx
  packages/react-components/src/radio/stories/radio.stories.tsx
Due: Run eslint, Test, Build Components

added more docs
  packages/docs/docs/components/form-helper-text.mdx
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/heading.mdx
  packages/docs/docs/components/input.mdx
  packages/docs/docs/components/pagination.mdx
  packages/docs/docs/components/radio.mdx
  packages/docs/docs/components/text.mdx
  packages/docs/docusaurus.config.js
  packages/docs/src/css/custom.css
  packages/docs/src/theme/ReactLiveScope/index.js
Due: none

optimized react live and mdx
  packages/docs/docs/components/button.mdx
  packages/docs/docs/components/checkbox.mdx
  packages/docs/docs/components/form-helper-text.mdx
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/form-label.mdx
  packages/docs/docs/components/heading.mdx
  packages/docs/docs/components/input.mdx
  packages/docs/docs/components/pagination.mdx
  packages/docs/docs/components/radio.mdx
  packages/docs/docs/components/switch.mdx
  packages/docs/docs/components/text.mdx
  packages/docs/docs/theming.mdx
  packages/docs/docusaurus.config.js
  packages/docs/src/pages/index.tsx
  packages/docs/src/theme/ReactLiveScope/MDXComponents.js
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: none

made id optional for radio and checkbox
  packages/react-components/src/checkbox/checkbox.tsx
  packages/react-components/src/checkbox/stories/checkbox.stories.tsx
  packages/react-components/src/radio/radio.tsx
  packages/react-components/src/radio/stories/radio.stories.tsx
Due: Run eslint, Test, Build Components

cleaned up import issues
  packages/docs/docs/components/avatar.mdx
  packages/docs/docs/components/chip.mdx
  packages/docs/docs/components/pagination.mdx
  packages/docs/docs/components/radio.mdx
  packages/docs/docs/theming.mdx
  packages/docs/docusaurus.config.js
  packages/docs/src/components/HomepageFeatures/index.tsx
  packages/docs/src/components/common/divider.tsx
  packages/docs/src/components/common/index.ts
  packages/docs/src/components/theming/border-widths.tsx
  packages/docs/src/components/theming/colors.tsx
  packages/docs/src/components/theming/font-sizes.tsx
  packages/docs/src/components/theming/font-weights.tsx
  packages/docs/src/components/theming/index.tsx
  packages/docs/src/components/theming/radii.tsx
  packages/docs/src/components/theming/sizes.tsx
  packages/docs/src/components/theming/spaces.tsx
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.module.css
  packages/docs/src/pages/index.tsx
  packages/docs/src/theme/ReactLiveScope/MDXComponents.js
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/src/theme/ReactLiveScope/twigs-loader.js
Due: none

added avatar docs
  packages/docs/docs/components/avatar.mdx
  packages/docs/src/theme/ReactLiveScope/index.js
Due: none

fixed avatar group radius issue
  packages/react-components/package.json
  packages/react-components/src/avatar/avatar-group.tsx
Due: Run eslint, Test, Build Components

added more docs
  packages/docs/docs/components/accordion.mdx
  packages/docs/docs/components/alert-dialog.mdx
  packages/docs/docs/components/alert.mdx
  packages/docs/docs/components/avatar.mdx
  packages/docs/docs/components/calendar-range.mdx
  packages/docs/docs/components/calendar.mdx
  packages/docs/docs/components/datepicker.mdx
  packages/docs/docs/components/dialog.mdx
  packages/docs/docs/components/drawer.mdx
  packages/docs/docs/components/dropdown.mdx
  packages/docs/docs/components/hovercard.mdx
  packages/docs/docs/components/popover.mdx
  packages/docs/docs/components/stepper.mdx
  packages/docs/docs/components/tabs.mdx
  packages/docs/docs/components/toast.mdx
  packages/docs/docs/components/tooltip.mdx
  packages/docs/docs/theming.mdx
  packages/docs/docusaurus.config.js
  packages/docs/src/css/custom.css
  packages/docs/src/theme/ReactLiveScope/index.js
Due: none

new homepage
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.tsx
  packages/docs/src/theme/SearchBar/DocSearch.js
  packages/docs/src/theme/SearchBar/algolia.css
  packages/docs/src/theme/SearchBar/index.js
  packages/docs/src/theme/SearchBar/lunar-search.js
  packages/docs/src/theme/SearchBar/styles.css
  packages/docs/src/theme/SearchBar/templates.js
  packages/docs/src/theme/SearchBar/utils.js
  packages/react-components/src/accordion/stories/accordion.stories.tsx
  packages/react-components/src/calendar/stories/calendar-range.stories.tsx
  packages/react-components/src/calendar/stories/calendar.stories.tsx
  packages/react-components/src/datepicker/stories/datepicker.stories.tsx
  packages/react-components/src/dialog/stories/dialog.stories.tsx
  packages/react-components/src/stepper/stepper.tsx
  packages/react-components/src/stepper/stories/stepper.stories.tsx
  yarn.lock
Due: Run eslint, Test, Build Components

added default status for alert
  packages/react-components/src/alert/alert.tsx
Due: Run eslint, Test, Build Components

added default pagination size
  packages/react-components/src/pagination/pagination.tsx
Due: Run eslint, Test, Build Components

corrected select disabled color
  packages/react-components/src/select/select.tsx
Due: Run eslint, Test, Build Components

bumped up version
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

modified homepage
  packages/docs/docusaurus.config.js
  packages/docs/package.json
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.tsx
  packages/docs/src/pages/markdown-page.md
  packages/docs/src/theme/ReactLiveScope/MDXComponents.js
  packages/docs/src/theme/ReactLiveScope/index.js
Due: none

changed default color of btn from primary to default
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

added more docs
  packages/docs/docs/components/box.mdx
  packages/docs/docs/components/checkbox.mdx
  packages/docs/docs/components/flex.mdx
  packages/docs/docs/components/switch.mdx
  packages/docs/docs/getting-started.md
  packages/docs/docs/theming.mdx
  packages/docs/src/css/custom.css
Due: none

added important to ghost button background style
  packages/react-components/package.json
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

removed system color and replaced error
  packages/react-components/src/alert/alert.tsx
  packages/react-components/src/avatar/avatar-badge.tsx
  packages/react-components/src/button/button.tsx
  packages/react-components/src/chip/chip.tsx
  packages/react-components/src/input/form-input.tsx
  packages/react-components/src/toast/toast.tsx
  packages/react-components/stitches.config.ts
Due: Run eslint, Test, Build Components

added default padding for tabs
  packages/react-components/src/tabs/stories/tabs.stories.tsx
  packages/react-components/src/tabs/tabs.tsx
Due: Run eslint, Test, Build Components

removed important style for background, moved background style to compound variant
  packages/react-components/src/button/button.tsx
Due: Run eslint, Test, Build Components

bump up package version
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

added eye open and close icon
  packages/react-icons/package.json
  packages/react-icons/src/icons/eye-close.tsx
  packages/react-icons/src/icons/eye-open.tsx
  packages/react-icons/src/icons/index.ts
Due: Run eslint, Build Icons

clip path removedc
  packages/react-icons/src/icons/reset.tsx
Due: Run eslint, Build Icons

homepage changes, new components
  packages/docs/docs/components/grid.mdx
  packages/docs/docs/components/select.mdx
  packages/docs/docs/examples/_category_.json
  packages/docs/docs/examples/music-player.mdx
  packages/docs/docs/examples/profile.mdx
  packages/docs/docs/examples/recipe.mdx
  packages/docs/docs/getting-started.md
  packages/docs/docusaurus.config.js
  packages/docs/sidebars.js
  packages/docs/src/components/theming/index.tsx
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.tsx
  packages/docs/src/theme/ReactLiveScope/index.js
  packages/docs/static/img/accessible.svg
  packages/docs/static/img/extensible.svg
  packages/docs/static/img/logo.svg
  packages/docs/static/img/theming.svg
Due: none

updated package version
  packages/react-components/package.json
Due: Run eslint, Test, Build Components

improved pagination a11y
  packages/react-components/package.json
  packages/react-components/src/pagination/pagination.tsx
Due: Run eslint, Test, Build Components

when total is 0, next btn was getting enabled that bug fixed
  packages/react-components/package.json
  packages/react-components/src/pagination/pagination.tsx
Due: Run eslint, Test, Build Components

updated site config
  packages/docs/docusaurus.config.js
Due: none

added icons docs
  packages/docs/docs/getting-started.md
  packages/docs/docs/icons.mdx
  packages/docs/docs/theming.mdx
  packages/docs/src/components/icons/index.tsx
Due: none

code cleanup
  packages/docs/src/components/HomepageFeatures/index.tsx
  packages/docs/src/components/HomepageFeatures/styles.module.css
  packages/docs/src/css/custom.css
  packages/docs/static/img/docusaurus-social-card.jpg
  packages/docs/static/img/docusaurus.png
  packages/docs/static/img/favicon.ico
  packages/docs/static/img/logo.svg
  packages/docs/static/img/undraw_docusaurus_mountain.svg
  packages/docs/static/img/undraw_docusaurus_react.svg
  packages/docs/static/img/undraw_docusaurus_tree.svg
Due: none

code cleanup
  packages/docs/blog/2019-05-28-first-blog-post.md
  packages/docs/blog/2019-05-29-long-blog-post.md
  packages/docs/blog/2021-08-01-mdx-blog-post.mdx
  packages/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  packages/docs/blog/2021-08-26-welcome/index.md
  packages/docs/blog/authors.yml
  packages/docs/docs/components/accordion.mdx
  packages/docs/docs/components/alert.mdx
  packages/docs/docs/components/avatar.mdx
  packages/docs/docs/components/button.mdx
  packages/docs/docs/components/checkbox.mdx
  packages/docs/docs/components/chip.mdx
  packages/docs/docs/components/dropdown.mdx
  packages/docs/docs/components/form-helper-text.mdx
  packages/docs/docs/components/form-input.mdx
  packages/docs/docs/components/form-label.mdx
  packages/docs/docs/components/grid.mdx
  packages/docs/docs/components/heading.mdx
  packages/docs/docs/components/input.mdx
  packages/docs/docs/components/pagination.mdx
  packages/docs/docs/components/radio.mdx
  packages/docs/docs/components/select.mdx
  packages/docs/docs/components/switch.mdx
  packages/docs/docs/components/text.mdx
  packages/docs/docs/components/toast.mdx
  packages/docs/docs/components/tooltip.mdx
  packages/docs/src/css/custom.css
Due: none

reduced theme code inside storybook - reduce redundancy
  packages/react-components/src/theme-provider/stories/theme-blocks.tsx
  packages/react-components/src/theme-provider/stories/theme-provider.stories.mdx
Due: Run eslint, Test, Build Components

Path conditions:
  Run eslint: (any of: packages/react-icons/**) or (any of: packages/react-components/**)
  Build Icons: any of: packages/react-icons/**
  Test: any of: packages/react-components/**
  Build Components: any of: packages/react-components/**
