Repository surveysparrow/twigs: changes, and which Bitbucket steps are due for each by the changed paths.
All: Security Scan for React Icons, Security Scan for React Components, Lint, Test and Build

Path conditions:
  Security Scan for React Icons: any of: packages/react-icons/src/**
  Security Scan for React Components: any of: packages/react-components/src/**
  Lint, Test and Build: any of: packages/react-icons/src/**, packages/react-components/src/**, packages/docs/**

Filter Pill
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Filter Pill
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown.tsx
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Bump version
  packages/react-icons/package.json
Due: none

Add manually triggered workflows for publishing icons and editor
  .github/workflows/npm-publish-react-editor-manually.yml
  .github/workflows/npm-publish-react-icons-manually.yml
Due: none

Add playwright install before test step
  .github/workflows/npm-publish-react-icons.yml
Due: none

Remove test step from icon npm publish workflows
  .github/workflows/npm-publish-react-icons-manually.yml
  .github/workflows/npm-publish-react-icons.yml
Due: none

Add test case for Cascader Dropdown and Filter Pill
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-node.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown.tsx
  packages/react-components/src/cascader-dropdown/tests/index.test.ts
  packages/react-components/src/cascader-dropdown/tests/index.test.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor Cascader Dropdown data import and update Filter Pill stories. Replace 'properties' with 'data' in CascaderDropdown usage across stories and tests. Remove unused filter test data file.
  packages/react-components/src/cascader-dropdown/stories/cascader-dropdown.stories.tsx
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/cascader-dropdown/tests/index.test.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
  packages/react-components/src/filter/tests/data.ts
  packages/react-components/src/filter/tests/index.test.tsx
Due: Security Scan for React Components, Lint, Test and Build

Fix Cascader dropdown
  packages/react-components/src/cascader-dropdown/cascader-dropdown-content.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-list.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-provider.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/cascader-dropdown.tsx
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-constants.ts
  packages/react-components/src/cascader-dropdown/helpers/cascader-dropdown-utils.ts
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/cascader-dropdown/use-value.ts
  packages/react-components/src/filter/filter-pill-value-selector.tsx
  packages/react-components/src/filter/filter-pill.tsx
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Enhance Cascader Dropdown with scroll detection and additional language options. Remove unused Filter Value Dropdown components and related files.
  packages/react-components/src/cascader-dropdown/cascader-dropdown-value-selector.tsx
  packages/react-components/src/cascader-dropdown/tests/data.ts
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-content.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-provider.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown-value-selector.tsx
  packages/react-components/src/filter/filter-value-dropdown/filter-value-dropdown.tsx
  packages/react-components/src/filter/filter-value-dropdown/helpers/filter-value-dropdown-constants.ts
  packages/react-components/src/filter/filter-value-dropdown/use-value.ts
  packages/react-components/src/filter/stories/filter.stories.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add playground link to navbar
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

Add tools page in docs
  packages/docs/docs/tools.mdx
Due: Lint, Test and Build

Refactor button side element exit animation to use requestAnimationFrame for smoother transitions
  packages/react-components/src/button/side-element.tsx
Due: Security Scan for React Components, Lint, Test and Build

Refactor exit animation in ButtonSideElement
  packages/react-components/src/button/side-element.tsx
Due: Security Scan for React Components, Lint, Test and Build

Rename env to env local
  packages/docs/.env
Due: Lint, Test and Build

Add marked and @types/grecaptcha as dependencies
  packages/docs/package.json
  yarn.lock
Due: Lint, Test and Build

Add LABS_API_URL and PUBLIC_RECAPTCHA_SITE_KEY to customFields in docusaurus.config.js
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

Add version upgrade guide
  packages/docs/docs/tools/index.mdx
  packages/docs/docs/tools/upgrade.mdx
  packages/docs/src/components/pageblocks/upgrade-guide/constants.ts
  packages/docs/src/components/pageblocks/upgrade-guide/style.css
  packages/docs/src/components/pageblocks/upgrade-guide/upgrade-guide.tsx
  packages/docs/src/pages/index.tsx
  packages/docs/src/utils/get-recaptcha-token.ts
Due: Lint, Test and Build

Add empty string as fallback for env variable, prettify file
  packages/docs/docusaurus.config.js
Due: Lint, Test and Build

Add sample env file
  packages/docs/.env.sample
Due: Lint, Test and Build

Update gitignore to ignore env file
  packages/docs/.gitignore
Due: Lint, Test and Build

Update direcotry structure for tools
  packages/docs/docs/tools.mdx
  packages/docs/docs/upgrade-guide.mdx
Due: Lint, Test and Build

Fix typo in width
  packages/docs/src/components/pageblocks/upgrade-guide/upgrade-guide.tsx
Due: Lint, Test and Build

Update workflow to allow manual deployment of docs
  .github/workflows/docs-deployment.yaml
Due: none

Update condition to allow docs deployment if workflow is triggered manually
  .github/workflows/docs-deployment.yaml
Due: none

Add missing env variables to wokflow file
  .github/workflows/docs-deployment.yaml
Due: none

Change secrets to vars
  .github/workflows/docs-deployment.yaml
Due: none

Bump version
  packages/react-components/package.json
Due: none

Add global window as fallback
  packages/react-editor/src/components/dialog-link-editor/index.tsx
Due: none

Bump version
  packages/react-editor/package.json
Due: none

Refactor Textarea component to conditionally render label and character count
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

add classnames and calendar size sm
  packages/react-components/src/calendar/calendar-cell.tsx
  packages/react-components/src/calendar/calendar-commons.tsx
  packages/react-components/src/calendar/calendar-day.tsx
  packages/react-components/src/calendar/calendar-grid.tsx
  packages/react-components/src/calendar/calendar-header.tsx
  packages/react-components/src/calendar/calendar-months-view.tsx
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar-time-picker.tsx
  packages/react-components/src/calendar/calendar-timezone-picker.tsx
  packages/react-components/src/calendar/calendar-utils.ts
  packages/react-components/src/calendar/calendar-week.tsx
  packages/react-components/src/calendar/calendar-years-view.tsx
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Update fontSize properties for different sizes and pass size prop to the StyledTextarea component.
  packages/react-components/src/textarea/textarea.tsx
Due: Security Scan for React Components, Lint, Test and Build

address comments
  packages/react-components/src/calendar/calendar-range.tsx
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

fixed comment
  packages/react-components/src/calendar/calendar.tsx
Due: Security Scan for React Components, Lint, Test and Build

Add requestAnimationFrame to fix state update batching. Fixes drawer appearing immediately, without an animation
  packages/react-components/src/hooks/use-mount-transition.ts
Due: Security Scan for React Components, Lint, Test and Build

updated the y offset of fade effect
  packages/react-components/src/dropdown/dropdown.tsx
Due: Security Scan for React Components, Lint, Test and Build

Increase the size of sm icon button to match design
  packages/react-components/src/button/button.tsx
Due: Security Scan for React Components, Lint, Test and Build
